<div class="row valign-wrapper" style="margin: 0px; overflow: scroll-y;">
  <div class="col s4 center-align valign">
    {{world-flag option.key 32}}
  </div>
  <div class="col s8 valign">
    {{option.name}}
  </div>
</div>
