<div id="cpv-container" class="mainbg">
  {{md-btn action="toggleModal"}}
  <div class="row-collapse">
    <div class="col s2">&nbsp;</div>
    <div class="col s8">
      <table id="cpv-table" class="mdl-data-table" cellspacing="0">
      </table>
    </div>
    <div class="col s2">&nbsp;</div>
  </div>
  <div class="row-collapse">
    <div class="col s2">&nbsp;</div>
    <div class="col s8">
      {{#if refresh}}
        {{#each selectedCodes as |selected|}}
          <div class="chip" id="chip-{{selected.code}}">
            [{{selected.code}}]
            {{selected.description}}
            <i class="material-icons">x</i>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="col s2">&nbsp;</div>
  </div>
</div>
