<div id="cpv-container" class="mainbg">
  <br> <br>
  <div class="row-collapse">
    <div class="col s1">&nbsp;</div>
    <div class="col s5">
      <table id="cpv-table" class="mdl-data-table" cellspacing="0">
      </table>
    </div>
    <div class="col s6">
      <div class="row-collapse">
        <div class="col s12">
          <br> <br> <br> <br> <br> 
          {{#if refresh}}
            {{#each selectedCodes as |selected|}}
              {{#cpv-chip id=selected.id title=selected.title selectedCodes=selectedCodes}}
                {{selected.id}} - {{selected.text}}
              {{/cpv-chip}}
            {{/each}}
          {{/if}}
        </div>
      </div>
      <div class="row-collapse">
        <div class="col s3">&nbsp;</div>
        <div class="col s6">
        </div>
        <div class="col s3">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row-collapse">
    <div class="col s12">
      <br> <br> <br>
      {{#md-btn action="toggleModal" class="cpv-ok-button"}}
        OK
      {{/md-btn}}
    </div>
  </div>
</div>
