<div id="cpv-container" class="mainbg">
  <div class="row-collapse">
    <div class="col s2">&nbsp;</div>
    <div class="col s8">
      <table id="cpv-table" class="mdl-data-table" cellspacing="0">
      </table>

      {{#md-btn action="toggleModal" class="cpv-ok-button"}}
        OK
      {{/md-btn}}
    </div>
    <div class="col s2">&nbsp;</div>
  </div>
  <div class="row-collapse">
    <div class="col s2">&nbsp;</div>
    <div class="col s8">
      {{#if refresh}}
        {{#each selectedCodes as |selected|}}
          {{#cpv-chip code=selected.code description=selected.description selectedCodes=selectedCodes}}
            {{selected.code}} - {{selected.description}}
          {{/cpv-chip}}
        {{/each}}
      {{/if}}
    </div>
    <div class="col s2">&nbsp;</div>
  </div>
</div>
