<div id="cpv-container" class="mainbg">
  {{md-btn action="toggleModal"}}
  <div class="row">
    <div class="col s10">
      {{#virtual-each cpvs
        height=height
        itemHeight=15
        as |cpv actualIndex virtualIndex|
      }}
        <div class="person-row">
          <div>
            <div>{{cpv.plain_code}}: {{cpv.name}}</div>
          </div>
        </div>
      {{else}}
        <strong>No results</strong>
      {{/virtual-each}}
    </div>
  </div>
</div>
