{{#data-table content=content sort=sort page=page as |t|}}
{{!--
{{#t.menu as |menu|}}
  {{#menu.general}}
    <a {{action 'export'}}>Export</a>
    <a>Print</a>
  {{/menu.general}}
  {{#menu.selected as |selection|}}
    <a {{action 'selectRow' selection}}>Delete</a>
  {{/menu.selected}}
{{/t.menu}}
--}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#each-in fields as |name label|}}
        {{th-sortable
            field=name
            currentSorting=sort
            label=label
            class=name
        }}
      {{/each-in}}
    {{/c.header}}

    {{#c.body as |row|}}
      {{partial partialPath}}
    {{/c.body}}

  {{/t.content}}
{{/data-table}}
