// list of all button types
$button-types:
        (primary, $primary-color),
        (secondary, $secondary-color),
        (success,$success-color),
        (error,$error-color);


// button sizing
// -------------------------
.btn-small {
   font-size: $button-small-font-size;
   height: $button-small-height;
   padding: .5rem $padding-small;
   border-radius: $border-radius-base;
 }

.btn-tiny {
  font-size: $button-tiny-font-size;
  height: $button-tiny-height;
  padding: $padding-tiny;
  border-radius: $border-radius-base;
}

// generate buttons
// -------------------------
.btn,
.btn-large,
.btn-small,
.btn-tiny,
.btn-floating,
.btn-flat {
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
  box-sizing: content-box;
  font-family: $font-family-sans;

  // default values for buttons
  & {
    @include button-color($text-color);
  }
  &.transparent {
    @include button-transparent($text-color);
  }
  &.link {
    @include button-link($text-color);
  }

  // other color versions
  @each $type, $color in $button-types {
    // btn with background
    &.#{$type} {
      @include button-color($color);
    }
    // transparent btn with border
    &.transparent.#{$type} {
      @include button-transparent($color);
    }
    // link btn
    &.link.#{$type} {
      @include button-link($color);
    }
  }
}

// disabled state by Bootstrap
.btn,
.btn-flat {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,&:hover {
      cursor: not-allowed;
      opacity: .45 !important;
      box-shadow: none;
    }
  }

  a & {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}

// font awesome fixes
// -------------------------

// fa inside btn
.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat,
.data-table-header a {
  i.fa {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}

// font awesome icons inside floating buttons
.fixed-action-btn .btn-floating i.fa {
  margin-right: 0 !important;
  font-size: 1rem;
  position: relative;
  top: -.125rem;
}

