// boxed fieldset
fieldset.box {
  background: lighten($bg-color,2.5%);
  padding: $padding-large;
  border: none;
  border-radius: $border-radius-base;
  margin-bottom: 4rem;
  box-shadow: 0px 3px 25px rgba(0,0,0,0.2);
}

// labels
label {
  font-weight: bold;
  color: $label-color;
  &:hover {
    color: $label-color-hover;
  }
}
// radio & checkbox labels highlight
[type="radio"],
[type="checkbox"] {
  &:not(:checked) {
    &:hover + label:before,
    &:hover + label:after {
        border-color: $label-color-hover;
    }
  }
}


.input-field label {
  left: auto; // what does this do??
  pointer-events: none;
}

// radio and checkbox
[type="radio"]:checked + label,
[type="checkbox"]:checked + label {
  color: $primary-color;
}

// input fields
// -------------
.input-field {
  margin-top: 2em;
  &:hover {
    border-bottom-color: $primary-color;
  }

  textarea {
    margin-bottom: 0px !important;
  }

}
// small
.input-field.small {
  &,& input {  font-size: .78*$input-font-size; }
}

// input prefix
.input-field {
  position: relative;

  > .input-prefix + input,
  > .input-prefix + .ember-select-guru .ember-select-guru__trigger {
    padding-left: 2em;
    box-sizing: border-box;
  }
  > .input-prefix {
    position: absolute;
    left: 0;
    width: 2em;
    text-align: center;
    height: $input-height;
    line-height: $input-height;
    color: $text-muted-color;
  }

  > .input-prefix + .ember-select-guru {
    left: -.8em;
  }
}

// inline input field
.input-field.inline {
  width: 20vw;
  display: inline-block;
  + .input-field.inline {
    margin-left: $gutter-width;
  }
}


// input validation text
.text-success {
  color: $success-color;
}
.text-error {
  color: $error-color;
}


// switch
.switch {
  label { font-size: $font-size-base; }
}




