$modal-bg: $main-bg;
.ember-modal-dialog {


  .modal {
    width: 550px;
  }

  .modal,
  .modal-footer,
  .modal-content {
    background: $modal-bg;

  }

  .modal {
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.9);
  }

  .modal-content {
    padding: 3rem;

    .input-field + .input-field {
      margin-top: .25em;
    }

    p {
      font-size: $font-size-base;
      font-family: $font-family-sans;
    }
  }

  .modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: $font-size-large;
    color: $text-muted;

    &:hover { color: $text-color; }
  }

}
// overlay opacity
.lean-modal {
  background: rgba(darken($bg-color,5%),0.8);
}

.login-modal {
  .modal {
    max-width: 300px;
  }
}
