/* Navbar component */
nav {
  ul li { margin: 0;}
}

.navbar {
  $navbar-bg: rgba(0,0,0,0.2);
  $navbar-font-family: $font-family-serif;
  $navbar-font-size: 1.28rem;
  $navbar-text-color: $text-color;

  background: $navbar-bg;
  border-bottom: 1px solid rgba(255,255,255,0.1);

  .nav-wrapper {
    padding-left: $padding-base;
    padding-right: $padding-base;
  }
  a {
    color: $navbar-text-color;
    text-decoration: none;
  }

  // navbar nav
  ul li a {
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
  }

  ul li a,
  .brand-logo {
    max-height: $navbar-height;
    opacity: 0.6;
    position: relative;
    &:hover { opacity: .9; }
  }

  .brand-logo {
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: .1em;
  }

  // make logo img fit into navbar's height
  .brand-logo,
  .brand-logo img {
    //height: 100%;
    vertical-align: middle;
  }


  .button-collapse {
    position: absolute;
    left: $padding-base;
  }

  // centering a nav
  // @note: this avoids the rules as navigation should not be centered according to material design guidelines
  .center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


// logged user menu
.navbar .user-nav {
  li a { font-size: 1.28rem; } // make the icons slightly bigger
  li a span {
    display: none;
  }
}

// mobile sidenav style
// TODO: add logo, border/shadow. make visually more interesting
.navbar .side-nav {
  background: $bg-color;
  border-right: 1px solid rgba(255,255,255,0.1);

  li:hover a {
    background-color: rgba(0,0,0,0.7);
  }

}

// hideable navbar on network view
// TODO: delete second and third selector after inproper body class issue is resolved
body.body-network #main-navbar,
body:not(.body-page) #main-navbar,
body.body-page.network-show #main-navbar{
  top: 0;
  margin-top: -$navbar-height;
  transition: margin-top .3s ease;
  .side-nav {
    min-width: 240px;
    width: 30vw;
  }

  &.open {
    margin-top: 0;
  }
}
// show only sidenav when toggling network button
@media only screen and (max-width: $medium-screen) {
  body.body-network,
  body:not(.body-page),
  body.body-page.network-show {

    #details-sidebar .navbar-toggle {
      display: none;
      cursor: pointer;
    }
    #main-navbar {
      top: 0;
      margin-top: 0;
      background: $main-bg;

      .side-nav {
        transition: all .3s ease;
        margin-top: $navbar-height;
        width: 100vw;
      }
      &.open .side-nav {
        transform: translateX(0) !important;
        transition: all .3s ease;
      }
    }
  }
}

@media only screen and (max-width: $medium-screen) {
  .side-nav {
    margin-top: $navbar-height;
    width: 100vw;

    &:before {
      content: "";
      background-color: $bg-dark-color;
      background-image: linear-gradient(rgba(255,255,255,0) 0%, $bg-dark-color 70vw),
      url(../images/journalists-filmnoir-scene.jpg);
      background-repeat: no-repeat;

      background-size: contain;
      opacity: 0.1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
