
// network entities
// ------------------

// mixin for generating a circle representing a network entity
@mixin network-entity ($size: 1em) {
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-shadow: 1px 1px $size/8 rgba(0,0,0,0.5);
  font-size: $size;
  transform: scale(1.5);
  position: relative;
  top: -.15em;

  &::before {
    content: '●';
    display: inline-block;
  }
}
.figure-buyer,
.figure-bidder,
.figure-all {
  @include network-entity(1em);

  &.small {
    @include network-entity(.5em);
  }

  &.animated:hover {
    transform: scale(1.2);
    transition: all .3s ease;
  }
}
.figure-buyer {
  color: $color-buyer !important;
}
.figure-bidder {
  color: $color-bidder !important;
}
.figure-all,
.figure-actor {
  color: $color-relationship !important;
}
.figure-relationship {
  position: relative;
  top: .25em;
  z-index: 0;
  display: inline-block;
  overflow: visible;
  width: 3em;
  height: 1em;
  background: transparent;
  border-top: .5em solid fade-out($color-relationship,0.2);
  vertical-align: middle;

  &:after,
  &:before {
    content: ' ';
    position: absolute;
    top: -.75em;
    z-index: 1;
    @include network-entity(1em);
    background: $color-relationship;
  }
  &:before {
    left: -.1em;
  }
  &:after {
    right: -.1em;
  }
}
