/* general page template */
.page {
  // page default background
  position: relative;
  z-index: 0;

  box-shadow: inset 0 -100px 120px -10px black;
  padding-bottom: 2*$gutter-width;

  &:before {
    content: "";
    background-color: $bg-dark-color;
    background-image: linear-gradient(rgba(255,255,255,0) 0%, $bg-dark-color 70vw),
                      url(../images/journalists-filmnoir-scene.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    opacity: 0.1;
    top: -$navbar-height;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }

  /* Scaffoling
  ------------------------ */

  .hero {
    font-size: 125%;
  }
}
