/* Typography
  --------------------- */

// default body typography
body {
  // font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-family-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $base-bg-color;
}


// headings
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-serif;

  small {
    font-size: 75%;
    opacity: .7;
  }
}

h1 {
  font-size: $h1-fontsize;
  font-weight: 700;
}
h2 {
  font-family: $font-family-sans;
  font-size: $h2-fontsize;
  font-weight: bold;
}
h3 {
  font-size: $h3-fontsize;
  font-weight: 400;
}
h4 {
  font-size: $h4-fontsize;
  font-family: $font-family-sans;
  font-weight: bold;
  opacity: .85;
}
h5 {
  font-size: $h5-fontsize;
  font-family: $font-family-sans;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1em;
}
h6 {
  font-size: $h6-fontsize;
  line-height: 1.4;
  opacity: .6;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: .05em;
}

a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
}

hr {
  border: 0;
  border-bottom: $input-border;

  &.short {
    max-width: 200px;
  }
}


// paragraph. slightly bigger font
p {
  font-family: $font-family-sans;
  font-size: $font-size-large;
  line-height: 1.3;
  letter-spacing: 0.025em;
  opacity: .85;
}
p.flow-text {
  font-family: $font-family-serif;
  font-size: 1.4rem;
  //color: white;
  line-height: 1.3;
}
p.lead {
  font-family: $font-family-sans;
  font-size: 2rem;
  opacity: .65;
}
p.small {
  font-size: .8rem
}

b,strong {
  font-weight: bold;
  color: fade-out($text-color,0.125);
}

code {
  background-color: rgba(255,255,255,0.1);
}

ul li, ol li {
  font-size: $font-size-large;
  font-family: $font-family-serif;
  color: fade-out($text-color,0.25);
}
ul li {
  margin: $gutter-width/2 0;

  // list with icons
  > .fa:first-child,
  > a > .fa:first-child {
    width: 1em;
    text-align: center;
    margin-right: .5em;
  }
}

// less significant text
.text-muted {
  color: $text-muted-color;
  font-weight: normal;
}

// smaller paragraph text
p.small {
  font-family: $font-family-sans;
  font-size: $font-size-base;
}

header {
  padding: 2rem 0;
}


