{{#network-container id='details-container'}}
  <div id="details-sidebar">
    <div class="row">
      <div class="col s12">
        <h5 class="details">MyProjectName</h5>
      </div>
      <div class="col s12">
        {{#tabbed-content active=active on-change="changeTab" as |manager|}}
          <div class="tabs__nav">
            {{#tab-button class="tab-button" manager=manager name="suppliers"}}Suppliers{{/tab-button}}
            {{#tab-button class="tab-button" manager=manager name="procurers"}}Procurers{{/tab-button}}
            {{#tab-button class="tab-button" manager=manager name="relationships"}}Relationshits{{/tab-button}}
          </div>

          {{#tab-panel manager=manager name="suppliers"}}
            Tab suppliers
          {{/tab-panel}}

          {{#tab-panel manager=manager name="procurers"}}
            Tab procurers
          {{/tab-panel}}

          {{#tab-panel manager=manager name="relationships"}}
            Tab relationships
          {{/tab-panel}}
        {{/tabbed-content}}
      </div>
    </div>
  </div>
  <div id="details-info">{{outlet}}</div>
{{/network-container}}
