.material-data-table {
  // Ag-grid can work with fixed height or a percentage.
  // Still not sure how to get this to work with a flex layout though :S
  //height: 300px;
  height: 80%;

  $materialDivider: rgba(0,0,0,0.12);

  .ag-root {
    border: 1px solid #9bc2e6;
    font: 13px Roboto, Arial, sans-serif;
  }
  .ag-cell {
    top: -1px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.02em;
    border-top: 2px solid transparent;
    border-bottom: 1px solid $materialDivider;
  }
  .ag-cell-focus {
  }
  .ag-cell-no-focus {
  }
  .ag-pinned-header {
    background-color: #5b9bd5;
    border-bottom: 1px solid #9bc2e6;
  }
  .ag-header-container {
    //background-color: #5b9bd5;
    border-bottom: 1px solid $materialDivider;
  }
  .ag-header-cell {
    //border-right: 1px solid #9bc2e6;
    text-align: left;
  }
  .ag-header-group-cell {
    border-right: 1px solid #9bc2e6;
  }
  .ag-header-group-cell-with-group {
    border-bottom: 1px solid #9bc2e6;
  }
  .ag-header-cell-label {
    padding: 4px 2px 4px 2px;
    font-weight: bold;
    $materialHeader: #757575;
    color: $materialHeader;
    font-size: 12px;
  }
  .ag-header-cell-text {
    padding-left: 2px;
  }
  .ag-header-group-cell-label {
    padding: 4px;
    font-weight: bold;
    color: #fff;
  }
  .ag-header-group-text {
    margin-right: 2px;
  }
  .ag-header-cell-menu-button {
    color: #5f6063;
    border: 1px solid #a6acb3;
    padding: 0 4px;
    margin-top: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* When using bootstrap, box-sizing was set to 'border-box' */
    background: -webkit--webkit-linear-gradient(#feffff, #eff2f7);
    background: -webkit--moz-linear-gradient(#feffff, #eff2f7);
    background: -webkit--o-linear-gradient(#feffff, #eff2f7);
    background: -webkit--ms-linear-gradient(#feffff, #eff2f7);
    background: -webkit-linear-gradient(#feffff, #eff2f7);
    background: -webkit-linear-gradient(#feffff, #eff2f7);
    background: -moz-linear-gradient(#feffff, #eff2f7);
    background: -o-linear-gradient(#feffff, #eff2f7);
    background: -ms-linear-gradient(#feffff, #eff2f7);
    background: linear-gradient(#feffff, #eff2f7);
  }
  .ag-header-icon {
    color: #fff;
  }
  .ag-dark .ag-header-expand-icon:hover {
    cursor: pointer;
  }
  .ag-row {
  }
  .ag-row-odd {
    //background-color: #ddebf7;
    background-color: #fff;
  }
  .ag-row-even {
    background-color: #fff;
  }
  .ag-overlay-loading-wrapper {
    background-color: rgba(255,255,255,0.5);
  }
  .ag-overlay-loading-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  .ag-body {
    background-color: #fafafa;
  }
  .ag-row {
    height: 30px;
  }
  .ag-row-selected {
    $materialSelectedRowBackground: #F5F5F5;
    background-color: $materialSelectedRowBackground;
  }
  .ag-group-cell-entire-row {
    background-color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    border-bottom: solid 1px #9bc2e6;
    overflow: hidden;
    white-space: nowrap;
  }
  .ag-footer-cell-entire-row {
    background-color: #fff;
    font-weight: bold;
    padding: 4px;
    border-bottom: solid 1px #9bc2e6;
  }
  .ag-group-cell {
    font-style: italic;
  }
  .ag-group-expand {
    padding-right: 2px;
  }
  .ag-footer-cell {
    font-style: italic;
  }
  .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
    padding-right: 2px;
  }
  .ag-filter-header-container {
    border-bottom: 1px solid #d3d3d3;
    font: 10pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
  }
  .ag-filter-apply-panel {
    border-top: 1px solid #d3d3d3;
    padding: 2px;
  }
  .ag-filter {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    font: 9pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
  }
  .ag-filter-filter {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    width: 192px;
  }
  .ag-filter-value {
    margin-left: 4px;
  }
  .ag-filter-value:hover {
    background-color: #39f;
    border: 1px dotted #000;
    color: #fff;
  }
  .ag-selection-checkbox {
    margin-left: 4px;
  }
  .ag-paging-panel {
    padding: 4px;
  }
  .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
  }
  .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
  }
  .ag-column-not-visible {
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: "alpha(opacity=75)";
  }
  .ag-not-dragging {
    border: 1px solid transparent;
  }
  .ag-drop-target-above {
    border-top: 5px solid #a9a9a9;
  }
  .ag-drop-target-below {
    border-bottom: 5px solid #a9a9a9;
  }
  .ag-dragging {
    border: 1px dotted #a9a9a9;
  }
  .ag-list-item-selected {
    color: #f0f0f0;
  }
  .ag-list-item-not-selected {
    font-style: italic;
    color: #a0a0a0;
  }
  .ag-tool-panel-container {
    background-color: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;
  }
  .ag-list-selection {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-popup-list .ag-list-item:hover {
    background-color: #add8e6;
  }
  .ag-visible-icons {
    padding-left: 2px;
    padding-right: 2px;
  }
}
