/* Notifications */
.c-notifications__container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

// perfect scroll
.ps {
  position: relative; // needs relative positioning so the scrollbar does appear inside this container, not outside
}
