.userphoto {
  $size: 100px;
  display: block;
  width: $size;
  line-height: $size;
  height: $size;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 50px;
  text-align: center;
  background: #ccc;
  color: #aaa;
}

/* select guru */
.ember-select-guru__container {
  border: none;
  border-bottom: 1px solid #3E3E3F;
  border-radius: 0px;
  width: 50%;
}
/* /select guru */
