div#cpv-container {
  width: 100%;
  height: 100%;
  /*
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  */
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
  ul#cpv-list {
    &, & * {
      background: #1A1A1C;
    }
  }
  >.btn {
    margin-left: 10px;
    margin-top: 10px;
  }
}

div.cpv-table-container {
  height: 800px;
  overflow: auto;
  width: 100%;

  div.cpv-tree {
  }
}

.cpv-selector-selected-codes-container {
  max-height: 700px;
  overflow: scroll;
}

.cpv-ok-button {
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  color: white;
}

.jstree-photonui .jstree-icon {
  background: url("/assets/photonui/d.png");
}