div#cpv-container {
  width: 100%;
  height: 100%;
  /*
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  */
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
  ul#cpv-list {
    &, & * {
      background: #1A1A1C;
    }
  }
  >.btn {
    margin-left: 10px;
    margin-top: 10px;
  }
}

div.cpv-table-container {
  height: 800px;
  overflow: auto;
  width: 100%;

  div.cpv-tree {
  }
}

.cpv-ok-button {
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  color: white;
}

.jstree-clicked {
  background-color: dodgerblue !important;
  color: white !important;

  .jstree-count{
    opacity: 0.6;
  }
}

.jstree-default .jstree-themeicon {
  display: none !important;
}

.jstree-default .jstree-node {
  line-height: 26px !important;;
}

.jstree-default .jstree-node a:hover {
  background: none;
  color: #00b3ee;
  cursor: pointer;
  border: none;
  outline: none;
}
.jstree-count {
  font-size: 13px;
  border-radius: 3px;
  text-align: right;
  display: inline-block;
  height: 22px;
  width: 46px;
  padding: 0px 6px;
  background: #0c0c0c;
  opacity: 0.3;
  color: white;
}

.jstree-row-example{
  opacity: 0.5;
  color: white;
  font-weight: bold;
  margin-left: 30px !important;

  b{
    width: 100px;
  }
  .jstree-count-example{
    font-size: 13px;
    border-radius: 3px;
    text-align: right;
    display: inline-block;
    height: 22px;
    padding: 0px 6px;
    background: #0c0c0c;
    opacity: 0.3;
    color: white;
  }
}
