/* Helper styles */
.h50 { display: block; height: 50px; }

.radius { border-radius: 5px; }
.noflow { overflow: hidden; }

.outer-wrapper { position: relative; left: 50%; float: left; }
.inner-wrapper { position: relative; left: -50%; float: left; }
.overlay { position: absolute; }

.full-screen {}
.full-height { height: 100%; }

.blur { -webkit-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px); }

.hide { display: none !important; }
.show-block{ display: block !important; }

.absolute { position: absolute !important; }
.relative { position: relative !important; }
.bold {font-weight: bold;}
