@mixin bg-dark{
  opacity: 0.9;
  background: $bg-dark-color;
}

/*elements*/
@mixin box{
  border-radius: 5px;
  border: 1px solid $box-border-color;
  padding: 10px;
  position: relative;
  color: $text-color;
  background: $bg-dark-color;

  .close{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer !important;
    width: 18px;
    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
  }
}
@mixin search-input{
  background-color: #151517 !important;
  height: 2rem !important;
  width: 100% !important;
  border-bottom: 1px solid #313030 !important;
  padding: 0px 16px !important;
  color: #615f5f !important;
}

/*fonts and text*/
@mixin default-font{
  font-family: "Roboto";
  font-weight: normal;
}
@mixin title{
  font-family: serif;
  font-weight: 600;
  margin-bottom: 0;
}
@mixin label{
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
}


@mixin compound-style-text{


}

@mixin fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin circle ($size) {
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 0.56*$size;
  border-radius: 100%;
}


// BUTTON variants
// ---------------------

@mixin button-circle ($size) {
  @include circle ($size);
  font-weight: normal !important; // bold messes up the icon
}

// button with background
@mixin button-color($bg: $button-bg, $text: $button-color, $border: transparent) {
  background: fade-out($bg,0.2);
  color: $text;
  border: 1px solid $border !important;
  &:hover {
    background:$bg;
    color: $text;
    transition: all 0.3s ease;
  }
  &:active {
    background:$bg;
  }
}
// bordered button with transparent background
@mixin button-transparent ($color: $text-color) {
  background: transparent;
  color: fade-out($color,0.4);
  border: 1px solid fade-out($color,0.4) !important;
  &:hover {
    color:$color;
    border-color: $color !important;
    transition: all 0.3s ease;
    background: transparent;
  }
  &:active {
    color:$color;
  }
}
// just a text button
@mixin button-link ($color: $link-color) {
  color: fade-out($color,0.4);
  background: none;
  box-shadow: none;
  border-color: transparent;
  &:hover {
    color: $color;
  }
}
