/* Main navbar*/

div.nav-wrapper>div.row {
  margin-bottom: 0;
}

.navbar-fixed {
  height: 80px;
}

div#main-navbar {
  .container{
    border-bottom: 2px solid #464646;
  }
  a.logo-container {
    height: 80px;
    opacity: 0.3;
  }
  a.logo-container:hover {
    opacity: 1;
  }
  .dropdown-content {
    width: 15% !important;
    position: absolute;
    top: 80px !important;;
    right: 15% !important;;
    left: auto !important;
    background: #1a1a1c !important;
    color: whitesmoke !important;

    a{
      font-size: 1rem !important;
    }

    a:hover, a.active{
      border-bottom: none !important;
      color: #636363 !important;
    }
  }

  .dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #eee;
    display: block;
    line-height: 22px !important;
    padding: 14px 16px;
  }

  nav .button-collapse {
    float: right;
    position: relative;
    z-index: 1;
  }

  nav ul.main-menu a {
    line-height: 63px;
    padding-top: 15px;
    color: #636363;
    /*font-family: serif
      font-size: 1rem;
      font-weight: bold;
    ;*/
    i {
      height: inherit;
      line-height: inherit;
    }
  }
  nav ul.main-menu a:hover,
  nav ul.main-menu a.active {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }

  nav.main-nav, div.nav-wrapper {
    height: 80px;
    box-shadow: none;
  }
  .logo {
    height: 36px;
    width: 64px;
    margin: 22px 10px;
  }
  ul#elvis-links,
  ul#external-links {
    li {
      padding-top: 10px;
      //padding-bottom: 10px;
      a {
        height: 60px;
      }
    }
  }
  ul#main-links {
    margin: 0 auto;
    div.link-icon {
      display: block;
      margin: 0 auto;
      width: 25px;
      height: 25px;
      &.new-graph-icon {
        background-image: url('/new-visualisation-icon-inactive.png');
        background-color: transparent; background-repeat: no-repeat;
      }
      &.my-projects-icon {
        background-image: url('/my-projects-icon-inactive.png');
        background-color: transparent; background-repeat: no-repeat;
      }
      &.account-settings-icon {
        background-image: url('/account-settings-icon-inactive.png');
        background-color: transparent; background-repeat: no-repeat;
      }
    }

    li:hover, li *:hover,
    li.active {
      background-color: inherit;
      a {
        color: #aa8073;
        background-color: inherit;
        height: 80px;
      }
      .link-icon {
        &.new-graph-icon {
          background-image: url('/new-visualisation-icon-active.png');
          background-color: transparent; background-repeat: no-repeat;
        }
        &.my-projects-icon {
          background-image: url('/my-projects-icon-active.png');
          background-color: transparent; background-repeat: no-repeat;
        }
        &.account-settings-icon {
          background-image: url('/account-settings-icon-active.png');
          background-color: transparent; background-repeat: no-repeat;
        }
      }
    }
    .active {
      border-bottom: 2px solid #aa8073;
    }
    a {
      color: #3e2d2e;
      text-transform: uppercase;
    }
  }
  ul#secondary-links{
    li{
      a{
      color: #757172;
      }
    }
  }
}


/* ----- */
