div#network-row {
  margin-bottom: 0px;
}

div#visjs-container {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}

div#network-sidebar {
  position: relative;
  z-index: 10;
  background: rgba(255,255,255,.2);
  display: block;
  height: 100%;
  min-height: 400px;
}

div#sidebar-details {
  position: relative;
  z-index: 10;
  background: rgba(255,50,50,.4);
  display: block;
  height: 100%;
  min-height: 400px;
}
