div#network-container {

  .suppliers {
    th {padding: 10px 0px !important;}
    th.id{width: 3% !important; }
    th.label{width: 16% !important;}
    th.value{width: 2% !important;}

    td.id {width: 3% !important; text-align: center;}
    td.label {width: 25% !important;}
    td.value {width: 1% !important; text-align: right;}
  }

  .relationships{
    th {padding: 10px 0px !important;}

    th.fromLabel {width: 12% !important;}
    th.toLabel {width: 16% !important;}
    th.value {width: 3% !important;}

    td.fromLabel {width: 12% !important;}
    td.toLabel {width: 16% !important;}
    td.value {width: 3% !important; text-align: right;}


  }

  thead {
    display: block;
    th{
      cursor: pointer;
    }
  }

  .data-table .ps-container {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 103%;
    height: 400px;
    overflow: hidden;
    padding-right: 20px !important;

    .ps-scrollbar-y-rail{
      margin-left: 10px !important;
    }
  }

  h5 {
    margin-top: 0;
  }
  position: relative;
  width: 100%;
  display: block;
  top: 0;

  div.network-canvas {
    height: 100%;
  }

   div#visjs-network {
    position: fixed;
    width: 100%;
  }

  .ember-view { height: 100%; }

  div#box-details-container{
    z-index: 999;
    position: absolute;
    top: 35px;
    right: 0px;
    width: 225px;
    height: 50px;
    display: block;

    div#box-details-card{
      position: relative;
      width: 100%;
      float: right;
      top: 0;
      opacity: 0.9;
      background: #171719;
      margin-right: 5%;
      border-radius: 5px;
      border: 1px solid #2f2f35;
      padding: 10px;

      .close{
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer !important;
        width: 18px;
        opacity: 0.2;
      }
      .close:hover {
        opacity: 1;
      }


      span.color-pink{
        color:deeppink;
      }
      span.color-blue{
        color:deepskyblue;
      }

      h1{
        font-size: 1.5em;
        margin: 0px;
        margin-bottom: 0.2em;
      }
      h2{
        font-size: 1.3em;
        margin: 0px;
        margin-bottom: 0.2em;
      }

      h5{
        font-size: 0.6em;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 0.1em;
      }

      div.flags{
        font-size: 0.6em;
        color: orangered;
        i{
          margin-right: 3px;
        }
      }
      div.col{
        padding: 0px;
      }
    }
  }
  div#details-container > * {
    margin: 0; padding: 0; border: 0;
  }
  div#details-container {
    z-index: 100;
    position: absolute;
    pointer-events: none;
    width: 100%; height: 50%; display: block;

    div#details-sidebar {
      pointer-events: all;
      width: 30%;
      min-height: 400px;
      float: left;
      top: 0;
      background: #171719;
      opacity: .9;
      clear: both;
      border-right: 1px solid #1d1d21;
      .tabs__nav {
        .tab-button--active,
        .tabs-button--active2 {
          a {
            border-bottom: 2px solid whitesmoke;
          }
        }

        .tab-button {
          display: inline-block;
          font-weight: bold;

          a {
            color: whitesmoke;
            text-transform: uppercase;
            font-size: 0.9rem;
            padding-bottom: 10px;
          }
        }
      }
      .tab-panel {
       /* background: $main-bg;*/
        .ag-grid-container {
          width: 100%;
        }
      }
    }
    .searchIcon{
      top: 4px;
      right: 4px;
      cursor: pointer;
    }

    div#details-info {
      display: none;
      height: 100%;
      width: 70%;
      min-height: 400px;
      float: left;
      top: 0;
      background: green;
      opacity: .8;
    }
  }
}

div#sidebar-toggle {
  z-index: 100;
  position: absolute;
  min-height: 500px;
  height: 90%;
  div#sidebar-toggle-border {
    display: block;
    height: 100%;
    width: .2em;
    background: #888;
      filter: blur(1px);
      -webkit-filter: blur(1px);
    &:hover {
      cursor: pointer;
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }
  }
  i {
    position: absolute;
    color: #888;
    top: 20%;
    left: .15em;
    &:hover {
      cursor: pointer;
    }
  }
}

/* ember-cli-materialize hacks */
.ember-modal-overlay {
  opacity: 1 !important;
}

.modal {
  top: 80px !important;
  &, & .modal-footer {
    box-shadow: none;
    color: #eee;
    background-color: #1A1A1C;
    width: 100%;
  }
}

.ember-cli-visks-network > .ember-view {
  display: none;
}

div#stabilization-info {
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  color: black;
  text-shadow: 0 0 20px rgba(99, 172, 255, 1);
  div.align-center {
    b {
      padding-top: 25%;
      width: 100%;
      text-align: center;
      position: fixed;
      font-family: Roboto;
      //font-weight: normal;
      font-size: 2rem;
    }
  }
}
