.selected-codes-modal-content {
  max-height: 400px;
  width: 50%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.selected-codes-modal-footer {
  width: 50% !important;
  margin-bottom: 20px !important;
  margin: 0 auto;
}

.tooltip-selected {
  max-height: 70%;
  overflow: scroll;
  background-color: transparent;
}

div#options-modal-container {
  width: 80%;
  //height: 100%;
  /*
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  */
  //position: fixed;
  //overflow: auto;
  //top: 0;
  //left: 0;
  display: block;
  z-index: 1000;
  position: absolute;
  top: 80px;

  >.container {
    margin: 0px;
  }
}
