div#details-container {
  div#details-sidebar {
    width: 100%;

    h5.details {
      padding: 20px;
    }

    div.tabs__nav {
      div.tab-button {
        width: 32%;
        cursor: pointer;
        text-align: center;
        padding: 10px 0;

        &:hover {
          background-color: rgba(50,50,50,.7);
        }
      }
    }

    .tab-panel {
      width: 100%;
      padding: 20px 10px;

      .ag-body-container {
        width: 100%;
      }

      .ag-cell, .ag-body-viewport {
        background: $main-bg;
      }
    }
  }
}

