div#details-container {
  div#details-sidebar {
    width: 100%;

    .closeDetails{
      color: dimgray;
      cursor: pointer;
      right: -7px;
      top: 37px;

      i{
        font-size: 18px;
      }
    }
    .closeDetails:hover {
      color: darkgrey;
    }

    h5.details {
      padding: 25px 10px;
      font-size: 1.5rem;
      font-family: serif;
      :last-child{
        margin-left: 10px;
      }
    }

    div.tabs__nav {
      line-height: 2.5rem;
      border-bottom: 1px solid #484848;
      margin-bottom: 10px;

      div.tab-button:first-child {
        padding-left: 12px;
      }

      div.tab-button {
        position: relative;
        width: 33%;
        cursor: pointer;
        text-align: left;
        padding-top: 10px;

        a {
          position: relative;
        }

        &:hover a {
          border-bottom: 2px solid dimgrey;
        }
        .circle{
          right: 42%;
          top: -33px;
        }
        .circle.supplier{
          color: deepskyblue;
        }
        .circle.procurer{
          color: deeppink;
        }
        .circle.relationship{
          color: #c0c0c0;
        }
        .circle.rel1{
          right: 30%;
        }
        .circle.rel2{
          right: 60%;
        }

        .circle.relationship-line {
          width: 30%;
          right: 37%;
          top: -24px;

          hr {
             width: 100%;
             color: #868686;
             border-width: 2px;
             border-style: solid;
          }
        }
      }
    }

    .tab-panel {
      width: 100%;
      margin-top: 20px;

      .ag-body-container {
        width: 100%;
      }
      .ag-cell, .ag-body-viewport {
        background: $main-bg;
      }
      .search-input{
        width: 92% !important;
        border: none !important;
        border-bottom: 1px solid grey !important;
        opacity: 0.5;
      }
    }
  }
}

.data-table-header {
  padding: 10px 5px;

  a {
    @extend .waves-effect;
    @extend .waves-light;
    @extend .btn-flat;
    padding: 0 1rem;
  }

  .item-count {
    padding-left: 10px;
    padding-right: 15px;
  }
}

table.data-table {
  font-size: 80%;
  color: whitesmoke;

  thead {
    color: whitesmoke;;
    .sorted {
      color: whitesmoke;;
    }
    .sortable {
      i {
        position: relative;
        top: 2px;
      }

      &:not(.sorted):hover {
        i::before {
          color: whitesmoke;;
          content: 'arrow_downward';
        }
      }
    }
  }

  tbody {
    tr {
      &:hover, &.selected {
        /*background-color: #eeeeee;
        */
        color: deepskyblue;
        cursor: pointer;
      }
      td{
        padding: 5px !important;
      }
    }
  }

  input[type="checkbox"] + label {
    padding-left: 5px;
    height: 15px;
  }

  input[type="checkbox"] + label:before {
    height: 14px;
    width: 14px;
  }

  input[type="checkbox"]:checked + label:before {
    height: 18px;
    width: 10px;
  }
}