/* ==========================================================================
   Materialize + ELVIS variables
   - ordered by ± frequency of use
   ========================================================================== */




/* Colors
   ========================================================================== */

// general colors
$primary-color:           #87bf80;
$primary-color-light:     lighten($primary-color, 15%);
$primary-color-dark:      darken($primary-color, 15%);

$secondary-color:         #f0e968;

$error-color:             #ff533c;
$success-color:           #00ff7e;
$warning-color:           orangered;

$color-bidder:            $secondary-color;
$color-buyer:             $primary-color;
$color-relationship:      #dff2d2; // should be rgba(255,255,255,-.2);
$color-flags:             #DA2C38;

$color-dark:              #444;

$link-color:              fade-out($primary-color,.25);
$link-color-hover:        $primary-color;

// TODO: all these variables should be compressed to just one
$base-bg-color:           #0e0e11;
$main-bg:                 $base-bg-color;
$bg-color:                $base-bg-color;
$bg-dark-color:           $base-bg-color;

$text-color:              #DFF2D2;
$text-muted:              fade_out($text-color,0.5);
$text-inverse-color:      #222;
$text-dark-color:         grey;

$box-border-color:        #2f2f35;

// here i collect variables which we should create more useful names for.
// example: component color is rarely related to its size. therefore $text-small-color lack logic. maybe $input-help-text-color could be more useful definition

// example2:there will be many icons in the system, and they will have various colors in various contexts.
//          therefore defining $color-icon variable seems too general. maybe $nav-icon-color or $list-icon-color would be a better solution
$color-icon:              dimgray;
$color-icon-hover:        darkgrey;
$text-small-color:        #444446;
$off-black:               rgba(0, 0, 0, 0.87);


/* Grid
   ========================================================================== */
$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

/* Sizing
   ========================================================================== */
$padding-base:            $gutter-width;
$padding-large:           2*$gutter-width;
$padding-small:           $gutter-width/2;
$padding-tiny:            $gutter-width/3;

/* Typography
   ========================================================================== */
$roboto-font-path: "../assets/";

// Elvis fonts
$font-family-serif:          'PlayFair Display',Georgia,serif;
$font-family-sans:           'Roboto Condensed',Arial,sans-serif;

$font-size-large: 1.28rem;
$font-size-base: 1rem;
$font-size-small: .78rem;

$text-muted-color:    fade-out($text-color,0.5);

// Heading Sizing
$h1-fontsize: 3.42rem;
$h2-fontsize: 2.5rem;
$h3-fontsize: 1.71rem;
$h4-fontsize: 1.14rem;
$h5-fontsize: 1rem;
$h6-fontsize: 1rem;

// TODO: delete these variables and use "$hX-fontsize" everywhere
$fs6 : 2.3rem;
$fs5 : 1.5rem;
$fs4 : 1.3rem;
$fs3 : 1.1rem;
$fs2 : 1rem;
$fs1 : 0.8rem;
$fs0 : 0.6rem;
$fs01 : 0.6rem;


/* General
   ========================================================================== */

// body font
$base-font-size:      14px;
$base-line-height:    1.5;

$border-radius-base:  5px;
$border-radius-small:  2px;

$border-width-base:   1px;


$border-base: $border-width-base solid rgba(255,255,255,0.07);



/* Badges
   ========================================================================== */

$badge-bg-color: $primary-color;


/* Buttons
   ========================================================================== */

// Shared styles
$button-bg: $primary-color;
$button-border: none;
$button-background-focus: lighten($primary-color, 4%);
$button-font-size: 1.3rem;
$button-color:  $bg-color;
$button-height: 36px;
$button-padding: 0 1.5rem;
$button-radius: 4px;

// Disabled styles
$button-disabled-background: #DFDFDF;
$button-disabled-color: #9F9F9F;

// Raised buttons
$button-raised-background: $primary-color;
$button-raised-background-hover: lighten($button-raised-background, 5%);
$button-raised-color: #fff;

// Large buttons
$button-large-icon-font-size: 1.6rem;
$button-large-height: $button-height * 1.2;

// Small buttons
$button-small-font-size: 0.85rem;
$button-small-icon-font-size: 0.85rem;
$button-small-height: $button-height * 0.6;

$button-tiny-font-size: 0.75rem;
$button-tiny-icon-font-size: 0.75rem;
$button-tiny-height: $button-height * 0.4;

// Flat buttons
$button-flat-color: #343434;
$button-flat-disabled-color: lighten(#999, 10%);

// Floating buttons
$button-floating-background: $primary-color;
$button-floating-background-hover: $button-floating-background;
$button-floating-color: #fff;
$button-floating-size: 37px;
$button-floating-large-size: $button-floating-size * 1.5;
$button-floating-radius: 50%;


/* Cards
   ========================================================================== */

$card-padding: 20px;
$card-bg-color: rgba(255,255,255,0.05);
$card-link-color: color("orange", "accent-2");
$card-link-color-light: lighten($card-link-color, 20%);


/* Collapsible
   ========================================================================== */

$collapsible-height: 2.5rem;
$collapsible-header-color: rgba(255,255,255,0.05);
$collapsible-border-color: rgba(0,0,0,0.5);


/* Chips
   ========================================================================== */

$chip-bg-color: #e4e4e4;


/* Date Picker
   ========================================================================== */

$datepicker-weekday-bg: darken($secondary_color, 7%);
$datepicker-date-bg: $secondary_color;
$datepicker-year: rgba(255, 255, 255, .4);
$datepicker-focus: rgba(0,0,0, .05);
$datepicker-selected: $primary-color;
$datepicker-selected-outfocus: desaturate(lighten($primary-color, 35%), 15%);


/* Dropdown
   ========================================================================== */

$dropdown-bg-color: #fff;
$dropdown-hover-bg-color: #eee;
$dropdown-color: $primary-color;
$dropdown-item-height: 50px;


/* Forms
   ========================================================================== */

// Text Inputs + Textarea
$input-height: 3rem;
$input-border-color: fade-out($text-color,0.8);
$input-border-color-hover: $link-color-hover;
$input-border: 1px solid $input-border-color;
$input-background: #fff;
$input-error-color: $error-color;
$input-success-color: $success-color;
$input-focus-color: $primary-color;
$input-font-size: 1.28rem;
$input-line-height: 3rem;
$input-margin: 0 0 15px 0;
$input-padding: 0;
$input-transition: all .3s;
$label-font-size: .8rem;
$label-color: fade-out($text-color,0.6);
$label-color-hover: fade-out($text-color,0.4);
$input-disabled-color: rgba(0,0,0, .26);
$input-disabled-solid-color: #BDBDBD;
$input-disabled-border: 1px dotted $input-disabled-color;
$input-invalid-border: 1px solid $input-error-color;
$placeholder-text-color: lighten($input-border-color, 20%);

// Radio Buttons
$radio-fill-color: $primary-color;
$radio-empty-color: #5a5a5a;
$radio-border: 2px solid $radio-fill-color;

// Range
$range-height: 14px;
$range-width: 14px;
$track-height: 3px;

// Select
$select-border: 1px solid #f2f2f2;
$select-background: rgba(255, 255, 255, 0.90);
$select-focus: 1px solid lighten($primary-color, 47%);
$select-padding: 5px;
$select-radius: 2px;
$select-disabled-color: rgba(0,0,0,.3);

// Switches
$switch-bg-color: $primary-color;
$switch-checked-lever-bg: desaturate(lighten($primary-color, 25%), 25%);
$switch-unchecked-bg: #F1F1F1;
$switch-unchecked-lever-bg: #818181;
$switch-radius: 15px;


/* Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

/* NETWORK vars
  =========================================================================== */
$network-sidebar-width: 30vw;
$network-sidebar-padding: $padding-base;
$network-sidebar-bg: fade-out(lighten($bg-color,2%), 0.1);
$network-infowindow-width: calc(100% - #{$network-sidebar-width});
$network-sidebar-border: $border-base;

/* NETWORK vars
  =========================================================================== */
$modal-box-shadow:    0 10px 15px rgba(0,0,0,0.6);


/* Navigation Bar
   ========================================================================== */

$navbar-height: 80px !default;
$navbar-height-mobile: 80px !default;
$navbar-font-color: #fff;
$navbar-brand-font-size: 1rem;


/* Side Navigation
   ========================================================================== */

$sidenav-font-color: #444;
$sidenav-bg-color: #fff;
$sidenav-padding-right: 30px;
$sidenav-item-height: 3em;


/* Photo Slider
   ========================================================================== */

$slider-bg-color: color('grey', 'base');
$slider-bg-color-light: color('grey', 'lighten-2');
$slider-indicator-color: color('green', 'base');


/* Spinners | Loaders
   ========================================================================== */

$spinner-default-color: $primary-color;


/* Tabs
   ========================================================================== */

$tabs-underline-color: $primary-color-light;
$tabs-text-color: $primary-color;
$tabs-bg-color: #fff;


/* Tables
   ========================================================================== */

$table-border-color: #d0d0d0;
$table-striped-color: #f2f2f2;


/* Toasts
   ========================================================================== */

$toast-height: 48px;
$toast-color: #323232;
$toast-text-color: #fff;

/* Footer
   ========================================================================== */

$footer-bg-color: $primary-color;


/* Flow Text
   ========================================================================== */

$range : $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;


/* Collections
   ========================================================================== */

$collection-border-color: #e0e0e0;
$collection-bg-color: #fff;
$collection-active-bg-color: $primary-color;
$collection-active-color: lighten($primary-color, 55%);
$collection-hover-bg-color: #ddd;
$collection-link-color: $primary-color;


/* Progress Bar
   ========================================================================== */

$progress-bar-color: $primary-color;


/* Z-indexes
  ==========
 */

$zindex-page-preloader:           200;
$zindex-navbar:                   98;
$zindex-modal:                    999;
$zindex-dropdown:                 100;
$zindex-infobox:                  70;
$zindex-notification:             99999;

$zindex-network-sidebar:          89;
$zindex-network-sidebar-toggle:   91;
$zindex-network-legend:           150;
$zindex-network-sidenav:          92;
$zindex-network-navbar:           $zindex-navbar;

$zindex-details-container:        89;
$zindex-details:                  90;
