//<<<<<<< HEAD
/** Small adjustment for Roboto font path **/
$roboto-font-path: "../assets/";
//=======
// include materialize color mixins before setting the variables
@import 'components/color';

// custom elvis + materialize variables
@import "variables";

//>>>>>>> f4fe0ad... - basic typography component styles: headings, links, lists, paragraphs
/* 3rd party styles */
@import 'materialize';
@import 'ember-cli-materialize';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

/* Settings and general tweaks */
//<<<<<<< HEAD
@import "mixins";
@import "variables";
@import "elvis-materialize";
//=======
//>>>>>>> f4fe0ad... - basic typography component styles: headings, links, lists, paragraphs
@import "helpers";
@import "components";
@import "application";

/* Components */
@import "components/cpv-selector";
@import "components/cpv-chip";
@import "components/range-slider";
@import "components/elvis-data-table";
@import "components/details-data-table";
@import "components/box-details";

/* Network */
@import "network/list";
@import "network/new";
@import "network/show";
@import "network/vis";
@import "network/show/details";
@import "network/show/details/show";
@import "network/show/details/contract";

/* Partials */
@import "partials/typography";
@import "partials/main-nav";
@import "partials/navbar";
@import "partials/page";

/* Top level templates */
@import "static";
@import "welcome";

@import "loading";
@import "footer";
@import "account";
//@import "projects";

/* To move / remove / change / split */
//@import "sidebar";
@import "network/show";

// default body typography
body {
  // font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-family-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $base-bg-color;
}

// what is this?
html, body, .container,
body > .ember-view {
  height: 100%;
  color: #eee;
}

/* Theme colors */
.mainbg {
  background-color: $main-bg;
}

// TODO: create separate component
.search-input {
  background-color: #151517 !important;
  height: 2rem !important;
  width: 95% !important;
  border: 1px solid #313030 !important;
  padding: 0px 16px !important;
  color: #615f5f !important;
}
