$footer-line-height: 50px;
.footer-container .container {
  background: #161618;
  .col {
    line-height: $footer-line-height;
  }
  a {
    font-size: 0.9rem;
    cursor: pointer;
    color: #555;
    &:hover { color: whitesmoke; }
  }
}

#footer {
  clear: both;

  .section-links-footer {

    i {
      color: $text-dark-color !important;
    }
    a {
      color: $text-dark-color !important;
      border-color: $text-dark-color !important;
      &:hover {
        color: $text-color  !important;
      }
    }
  }

  .section-links-footer {
    font-weight: normal;
    padding: 90px 0px;
    .row { margin-bottom: 0px; }
    .logo-footer {
      img { width: 80px;}
    }

    div.footer-links > div {
      margin-bottom: 15px;
    }
    div.social-links {
      font-size: $fs4;
    }
    a {
      cursor: pointer;
      font-weight: normal !important;
      color: $text-color;
      border-bottom: 1px solid $text-color;
      margin-left: 10px;
      &:hover {
        color: #50787a;
        border-bottom: none;
      }
    }
  }
  .section-partners {
    padding: 50px 0px;
    background: white;
    .container {

    }
    .partners {
      display: table;

      > a {
        display: table-cell;
        padding: 0 10px;
      }
      > a > img {
        width: 100%;
        display: block;
      }
    }
  }

  .section-newsletter {
    padding: 50px 0px;
    background-color: #50787a;
    border-top: 1px solid #1a1a1c;
    .container {
      color: #26f0fc;
      .row { margin-bottom: 0px; }
      .text-newsletter {
        padding-top: 15px;
        font-size: 2rem;
      }
      a {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: normal;
        color: #26f0fc;
        padding: 20px 50px;
        border: 1px solid #26f0fc;

        &:hover {
          color: white;
          border-color: white;
        }
      }
    }
  }
}
