div#mygraphs{
    .card-container{
      padding: 0 2.5rem !important;
    }
    .card-title{
        font-size: 1.3em;
        line-height: 1.3em;
        font-family: serif;
        font-weight: 600;
    }
    .card {
      background: none;
      color: white;
      box-shadow: none;

      .card-reveal{
        background: #1a1a1c;
        color: white;
        box-shadow: 1px 1px 1px #0c0c0c;
        height: 99%;
        border: 1px solid dimgrey;
        border-radius: 3px;
      }

      small{
        font-family: "Roboto", sans-serif;
        font-weight: normal;
      }
    }

}
