.static{
  > * {
    height: 100%;
  }
  .about {
    .page-text {
      margin-bottom: 50px;
      .page-title {
        margin: 30px 0px 20px 0px;
      }
      .page-content {
        line-height: 2.5rem;
        font-weight: normal;
      }
    }
    .sponsors {
      height: 25%;
      .col {
         height: 100%;
        .container-sponsors {
          background: white;
          height: 100%;
          .valign-wrapper {
            height: 100%;
            img {
              width: 80%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
