<div class="row">
  <div class="col s12">
    <h1>Recover Password</h1>
    <hr>
  </div>
</div>
{{#if emailSent}}
  <div class="row center-align">
    <p>Please check your email.</p>
  </div>
{{else}}
  <div class="query-form-container">
    <form {{action "deviseSendRecover" email on="submit"}}>
      <div class="row">
        {{md-input
            label="your email"
            value=email
            class="col s4 offset-s4"
            validate=true
        }}
      </div>
      <div class="row">
        <div class="col s4 offset-s4 center-align">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>

    </form>
  </div>
{{/if}}

