<div class="jumbotron">
    <div class="container">
        <h1>Account Settings</h1>
    </div>
</div>
<div class="container">

    <h2>Change password</h2>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="newPassword1">New password</label>
            <input type="email" class="form-control" id="newPassword1" placeholder="New password">
        </div>
        <div class="form-group">
            <label class="sr-only" for="newPassword2">Confirm new password</label>
            <input type="password" class="form-control" id="newPassword2" placeholder="Confirm new password">
        </div>
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>

</div>

