@import '../_network.scss';

div#box-details-container {
  @keyframes slide-up {
    from { top: -100%; }
    to { top: $navbar-height; }
  }
  animation: slide-up ease .4s;

  z-index: $zindex-infobox;
  position: absolute;
  top: $navbar-height;
  right: 60px;
  left: 20px;
  height: auto !important;
  display: block;

  #box-details-card {
    background: $network-sidebar-bg;
    box-shadow: 0px 0px 55px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px; //TODO variable
    border: 1px solid lighten($network-sidebar-bg,5%);
    backdrop-filter: blur(2px);
    padding: $padding-base;
    max-width: 300px;
    position: absolute;
    top: 0;
    right: $network-inner-offset;

    .actor {
      position: relative;
      padding-left: .5em;
      color: $text-muted-color;
      font-size: .8rem;
      line-height: 1rem;
      margin-bottom: .5em;

      [class*=figure-] {
        position: relative;
        left: -.5em;
        //top: .25em;
      }

    }

    .flags {
      font-size: .8rem;
    }

    hr {
      margin: 1em 0;
      opacity: .3;
      border-bottom: 0px;
    }

    table {
      width: auto;
      td,th { padding: 2px 4px;}
    }
    .spec {

      .value {
        font-size: 1rem;
        font-weight: bold;
        width: auto;
        text-align: right;
      }
      .label {
        font-size: .8rem;
        opacity: .6;
      }
    }

    .action {
      margin-top: .5em;
      font-weight: bold;
    }

    .close {
      position: absolute;
      top: .25em;
      right: .5em;
      cursor: pointer;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }

}
