/*
 * Custom jstree theme
*/

.jstree-elvis {
  $jstree-node-height:  $gutter-width;
  $jstree-icon-width:   1.2rem;
  $jstree-checkbox-width: $gutter-width;

  margin-top: -2em;
  padding: 1em;

  .jstree-node {
    font-size: $h4-fontsize;
    padding: 1em 0em 1em 2rem;
    position: relative;
    border-bottom: 1px dotted rgba(255,255,255,0.1);

    &:last-child {
      border-bottom: none;
      margin-bottom: -.5em;
    }
  }

  // text content
  .jstree-anchor {
    width: 100%;
    display: block;
    font-size: $font-size-base;
    padding-right: 3.5em;
    white-space: initial;


    color: fade-out($text-color,.6);
    &:hover {
      color: fade-out($text-color,.3);
    }
  }
  .jstree-anchor > .jstree-themeicon { display: none; }
  .jstree-node .details {
    white-space: initial;

    .cpv-code {
      font-size: $font-size-small;
      text-transform: uppercase;
      font-weight: bold;
      opacity: .4;
    }
  }

  // open/close area
  .jstree-ocl {
    height: 2em;
    width: 2em;
    text-align: center;
    font-size: $font-size-large;

    position: absolute;
    left: -.5em;
    top: .9em;

    &:hover {
      color: $link-color;
    }
    // right caret if there are children
    &:before {
      @include fontawesome;
      content: $fa-var-caret-right;
    }
  }
  // down caret icon if node is open
  .jstree-open > .jstree-ocl:before {
    transition: transform .3s ease;
    transform: rotate(90deg);
  }
  // do not display jstree-ocl if no children
  .jstree-leaf > .jstree-ocl {
    display: none;
  }

  // checkbox on right
  .jstree-checkbox {
    box-sizing: content-box;
    position: absolute;
    top: 1.4em;
    right: 1rem;
    width: $jstree-icon-width;
    height: $jstree-icon-width;
    line-height: $jstree-icon-width;
    text-align: center;
    font-size: $font-size-base;

    border: 2px solid $text-muted-color;
    border-radius: $border-radius-base;
  }
  .jstree-anchor:hover .jstree-checkbox {
      border-color: $primary-color;
  }


  // selected node
  // ------
  .jstree-anchor.jstree-clicked {
    color: $text-color;
    .jstree-checkbox {
      color: $bg-dark-color;
      background-color: $primary-color;
      border-color: $primary-color;
      &:before {
        @include fontawesome;
        content: $fa-var-check;
      }
    }

    &:hover {
      opacity: .6;
    }
  }
}


