div#selected-cpvs-container{
  background: #1A1A1C;
}
div#cpv-container,
div#selected-cpvs-container
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
  ul#cpv-list {
    &, & * {
      background: #1A1A1C;
    }
  }
  >.btn {
    margin-left: 10px;
    margin-top: 10px;
  }
}

ul.selected-cpvs {
  i {
    font-size: 17px !important;
  }
  i:hover {
    color: orangered;
    cursor: pointer;
  }
  li:hover {
    span.details {
      border-bottom: 1px solid orangered;
    }
  }
  li {
    padding-top: 5px;
    min-height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    color: #d1d7df;
    font-size: 34px;
    line-height: 17px;
    padding: 3px 0px;

    span.details {
      display: inline-block;
      width: 97%;
      padding: 0px 3px 9px !important;
      color: #d1d7df;
      font-size: 14px;
      line-height: 17px;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid grey;

      div {
        font-family: serif;
        font-size: 18px;
        margin-bottom: 6px;
        color: grey;
      }
    }
  }
}

.toggled { display: none; }

.cpv-table-container {
  .show-container {
    display: block !important;
  }
  .search {
    margin-bottom: 20px;

    .search-input{
      @include search-input;
      width: 95%;
    }
  }
}

.cpv-tree,
.cpv-selector-selected-codes-container ,
.selected-codes{
  .jstree-default-dark-small {
    height: 500px;
  }
  .ps-container {
    position:relative;
    margin:0px auto;
    padding:0px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-right: 20px;
  }
  .spacer { text-align:center }
}

.ps-scrollbar-y-rail {
  background-color: grey !important;
  width: 10px !important;

  .ps-scrollbar-y{
    margin-top: 10px;
  }
}

.ps-scrollbar-y-rail:hover{
  width: 10px !important;
  .ps-scrollbar-y {
    width: 6px !important;
  }
}
.ps-scrollbar-y:hover{
  width: 6px !important;
}

.cpv-ok-button {
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  color: white;
}

.jstree-photonui .jstree-icon {
  background: url("/assets/photonui/d.png");
}