/*@todo: css data-table from  _siderbar.scss*/
.container-entity {
  div.tabs__nav {
    line-height: 2.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(72, 72, 72);

    .tab-button {
      display: inline-block;
      font-weight: bold;
      position: relative;
      width: 11%;
      cursor: pointer;
      text-align: left;
      padding-top: 10px;

      a {
        color: $text-dark-color;
        @include label;
        font-size: $fs1;
        padding-bottom: 10px;
        &:hover{
          border-bottom: 2px solid grey;
        }
      }
    }

    .tab-button--active a {
      color: $text-color;
      border-bottom: 2px solid $text-color;
    }
  }

  .data-table {
    .ps-container {
      position: relative;
      margin: 0px auto;
      padding: 0px;
      width: 103%;
      height: 400px;
      overflow: hidden;
      padding-right: 10px !important;


      .ps-scrollbar-y-rail {
        background-color: #1A1A1C !important;
        opacity: 0.2;
        margin-left: 10px !important;
        width: 1px !important;

        .ps-scrollbar-y {
          width: 1px !important;
          right: 0px !important;
          background-color: whitesmoke;
        }
      }
    }

    thead, tr, tbody {
      display: block;
      width: 100%;
    }
    th, td {
      color: $text-dark-color;
      display: inline-block;
    }
    th {
      @include label;
      font-size: $fs1;
    }
    td {
      padding: 10px !important;
      font-size: $fs1;
      i{ height: 0%; }
    }
  }
  /*tabs - tables*/
  .contracts {
    .data-table {
      th.award   { width: 35%; padding-left: 0px; margin-left: -15px; }
      th.parties { width: 32%; }
      th.value   { width: 20%; text-align: right; }
      th.bids    { width: 13%; text-align: right;  padding-right: 0px !important; }

      td.award {
        width: 34%; padding-left: 0px !important;
        a {
          color: $text-dark-color;
          &:hover { color: $text-color; }
        }
      }
      td.parties { width: 30%; i { color: $color-supplier; } }
      td.value   { width: 20%; color: $text-color; text-align: right; @include title; font-size: $fs3; padding-right: 0px !important; }
      td.bids    { width: 14%; color: $text-color; text-align: right; @include title; font-size: $fs3; }
    }
  }
  .procurers, .suppliers {
    .data-table {
      th.procurer,
      th.supplier { width: 35%; padding-left: 0px; margin-left: -15px; }
      th.contracts { width: 32%; }
      th.income    { width: 20%; text-align: right; }
      th.bids      { width: 13%; text-align: right;  padding-right: 0px !important; }

      td { vertical-align: top; }
      td.procurer,
      th.supplier  { width: 34%; padding-left: 0px !important; i { color: $color-procurer; } }
      td.supplier  { width: 34%; padding-left: 0px !important; i { color: $color-supplier; } }
      td.contracts {
        width: 35%;
        line-height: $fs2;
        div {
          padding-bottom: 4px;
        }
        .show-contracts {
          .contracts-count {
            background: $text-dark-color;
            color: $main-bg;
            padding: 1px 4px;
            font-size: $fs0;
            border-radius: 2px;
          }
          .show-more {
            width: 10px;
            font-size: $fs2;
            i { vertical-align: top; }
          }
        }
        a {
          color: $text-dark-color;
          &:hover { color: $text-color; }
        }
      }
      td.income    { width: 15%; color: $text-color; text-align: right; @include title; font-size: $fs3; padding-right: 0px !important; }
      td.bids      { width: 14%; color: $text-color; text-align: right; @include title; font-size: $fs3; }
    }
  }
}
