// data table inside sidebar displaying list of buyers/bidders/relationships
// -------------------

#details-sidebar {
  .search-icon {
    margin-top: 1em;
    input {
      font-size: $font-size-small;
    }
  }
  a.order {
    cursor: pointer;
    color: #fff;
    margin-top: 1.5em;
  }
  select {
    cursor: pointer;
    display: inline-block !important;
    margin-top: 0px;
    background-color: transparent;
    width: 100%;
    padding: 3px;
    border: none;
    border-bottom: 1px solid $color-dark;
    border-radius: 2px;
    height: 2rem;
    &:focus {
      outline: 0px;
      border-bottom: 1px solid #f2f2f2;
    }

    option {
      background: none;
      background-color: transparent;
    }
  }

  $item-figure-size: 2em;

  table.data-table {
    width: 100%;
    height: calc(100vh - 390px);
    position: relative;
    display: block;

    thead { display: none; }
    td {
      vertical-align: top;
      padding: 5px;
    }
  }

  .data-table-pagination {
    display: none;
  }

  .data-table-filter,
  .data-table-search,
  .data-table .tse-content {
    padding: 0 .5em;
    margin-bottom: .5rem;
  }

  // entity circle with number
  .data-table td.item-figure {

    position: relative;
    width: $item-figure-size;

    span.containedNodes {
      top: 0px;
      right: 0px;
      position: absolute;
      background: white;
      border-radius: 7px;
      padding: 1px 7px 0px 7px;
      z-index: 99;
      color: #1e1e20;
      font-weight: bold;
      font-size: 0.7rem;
      line-height: 0.9rem;
    }

    > a { display: inline-block; }

    figure {
      @include network-entity-mixed($item-figure-size);
      color: $bg-color;
      font-weight: 900;
      margin: 0;
    }
  }
  // circle colors for bidders and buyers
  .sidebar-bidders td.item-figure figure { background: $color-bidder; }
  .sidebar-buyers td.item-figure figure { background: $color-buyer; }

  // entity name style
  .data-table td.item-name,
  .data-table td.item-name a {
    color: $text-muted-color;
    line-height: 1.2em;
    vertical-align: middle;

    .item-id {
      font-weight: 900;
      color: fade-out($text-muted-color,.2);
      letter-spacing: .025em;
      margin-top: -.1em;
      display: block;
    }
  }

  .sidebar-bidders .data-table td.item-name a,
  .sidebar-buyers .data-table td.item-name a{
    line-height: 1em;
  }

  // red flags column
  .data-table td.item-flags {
    font-size: $font-size-large;
    line-height: 1;
    padding: 0;
  }

  // table row highlighting on mouse over
  .data-table tr.hidden {
    display: none !important;
  }
  .data-table tr,
  .data-table tr td.item-figure {
    transition: all 1s ease;
  }
  .data-table:hover tr:not(:hover) {
    opacity: .8;
    transition: all 1s ease;
  }
  .data-table:hover tr:not(:hover) td.item-figure {
    opacity: .6;
    filter: grayscale(60%);
    transition: all .4s ease;
  }
  .data-table tr:hover td.item-name a {
    &,&:hover,&:focus {
      color: $text-color !important;
    }
  }

  // zoom-to item button
  .data-table .item-figure .item-zoom-to {
    position: absolute;
    display: none;
    cursor: pointer;
  }

  // make zoom-to button appear over the item figure
  .data-table tr:hover {
    .item-figure figure {
      color: rgba(0,0,0,0) !important;
      position: relative;

      .item-zoom-to {
        display: inline;
        color: $bg-color !important;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        left: 0;
        line-height: $item-figure-size;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform .3s ease;
      }
    }
  }


  // Relationships list design
  // (is a bit different)
  .sidebar-relationships .data-table {
    .item-figure figure {
      border-radius: 0;
      box-shadow: none;
      background: fade-out($color-relationship,0.2);
    }
    .item-name .item-entity {
      font-size: $font-size-small;
      .buyer,
      .bidder {
        font-size: 75%;
      }
    }
  }
}

/*
.ember-tooltip {
  font-size: $fs1 !important;
  background: $main-bg !important;
  border: 1px solid $box-border-color;

  .flag-details {
    position: relative;
    clear: both;
    color: $text-dark-color !important;

    .flag-name {
      margin-right: 20px;
      float: left;
    }
    .flag-value {
      float: right;
      text-align: right;
    }
  }
  &:after {
    border-right: 1px solid $box-border-color;
    border-bottom: 1px solid $box-border-color;
  }
}
div#details-sidebar .tab-panel {

  .data-table-header {
    padding: 10px 5px;

    a {
      @extend .waves-effect;
      @extend .waves-light;
      @extend .btn-flat;
      padding: 0 1rem;
    }

    .item-count {
      padding-left: 10px;
      padding-right: 15px;
    }
  }

  table.data-table {
    position: relative;
    font-size: 80%;
    color: whitesmoke;
    table-layout: fixed;

    .ps-container {
      position: relative;
      margin: 0px auto;
      padding: 0px;
      width: 103%;
      height: 400px;
      overflow: hidden;
      padding-right: 10px !important;


      .ps-scrollbar-y-rail {
        background-color: #1A1A1C !important;
        opacity: 0.2;
        margin-left: 10px !important;
        width: 1px !important;

        .ps-scrollbar-y {
          width: 1px !important;
          right: 0px !important;
          background-color: whitesmoke;
        }
      }
    }


    thead, tbody, tr {
      position: relative;
      display: block !important;
    }
    td, th {
      display: inline-block;
      cursor: pointer;
      position: relative;
    }

    thead {
      color: $text-color;
      th { vertical-align: bottom; }
      .sorted {
        color: $text-color;
      }
      .sortable {
        i {
          position: relative;
          top: 2px;
        }

        &:not(.sorted):hover {
          i::before {
            color: $text-color;
            content: 'arrow_downward';
          }
        }
      }
    }
    tbody {
      max-height: 400px !important;
    }
    tr {
      a {
        color: $text-color !important;
        &:hover {
          color: $text-dark-color !important;
        }
      }
      .toggle-controls {
        color: $text-dark-color;
        font-size: $fs3;
        top: 1px;
        right: -17px;
        display: none;
        padding-top: 3px !important;
        width: 30px;
        text-align: right;
        padding-right: 8px !important;
      }
       &:hover .toggle-controls {
        display: block;
        &:hover i {
          cursor: pointer;
          color: $text-color;
        }
      }

      .flags {
        padding: 0px !important;
        margin-top: 5px !important;
        font-size: 0.9em;
        line-height: 0.9em;
        i { height: 0%; }
      }
      td {
        vertical-align: top !important;
        padding: 5px !important;

        a {
          color: whitesmoke;
          &:hover { color: deepskyblue; }
        }
      }
    }

    //??? not sure what are for
    input[type="checkbox"] + label {
      padding-left: 5px;
      height: 15px;
    }

    input[type="checkbox"] + label:before {
      height: 14px;
      width: 14px;
    }

    input[type="checkbox"]:checked + label:before {
      height: 18px;
      width: 10px;
    }
  }


  .bidders {
    th { padding: 10px 0px !important; }
    th.id    { width: 15% !important; }
    th.label { width: 65% !important; }
    th.flags { width: 2% !important; }
    th.value { width: 15% !important; }

    td.id {width: 15% !important; overflow-x: hidden; text-align: center;}
    td.label {width: 67% !important;}
    td.flags {width: 6% !important; text-align: right;}
    td.value {width: 8% !important; text-align: right;}
  }

  .relationships{
    th {padding: 10px 0px !important;}

    th.fromLabel {width: 40% !important;}
    th.toLabel {width: 43% !important;}
    th.flags {width: 3% !important;}
    th.value {width: 11% !important;}

    td.fromLabel {width: 43% !important;}
    td.toLabel {width: 44% !important;}
    td.value {width: 3% !important; text-align: right;}
    td.flags {width: 4% !important; text-align: right; padding: 0px !important;}
  }
  // for other controls
  .controls{
    //right: -113px;
    //height: 50px;
    //width: 100px;
    //border: 1px solid grey;
    //border-radius: 5px;
  }
}

*/
