#query-builder {


  // range slider
  .wizard-step .noUi-target {
    margin: 1rem 1rem 0;
  }

  // year select
  form span.year-label {
    color: rgba(255,255,255,.7);
    position: absolute;
    &.left-year { bottom: 20px; left: -7px; }
    &.right-year { bottom: 20px; right: -7px; }
  }

  // cpv selector. TODO: separate component
  .cpv-selector {
    max-height: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  // rendering options
  .qb-rendering-edges,
  .qb-rendering-nodes {
    margin-bottom: 1.5em;
  }

  div.numberOfWinningBids {
    img.winningBids {display: block;}
    img.moneyExchanged {display: none;}
  }

  div.amountOfMoneyExchanged {
    img.winningBids {display: none;}
    img.moneyExchanged {display: block;}

  }

}
