/* Range slider tooltips */
.noUi-tooltip {
  background: none;
  top: -32px;
  left: -50%;
}

.noUi-target {
  height: 2px;
  &, * { border: none; }
}

// slider line
.noUi-background, .noUi-base { background: $input-border-color; box-shadow: none; }

.noUi-connect { background: $text-muted-color; }
.noUi-origin { }


.noUi-handle-upper,
.noUi-handle {
  height: 20px !important;
  width: 20px !important;
  border-radius: 10px;
  margin-left: 3px;
  margin-top: -3px;
  box-shadow: none;
  background: darken($primary-color,20);
  &:after, &:before { background-color: transparent; }

  &:hover {
    cursor: pointer;
    background: $primary-color;
    transform: scale(1.2);
    transition: all .3s ease;
  }
}

// disabled range slider
.noUi-target.disable-range {
  opacity: 0.2;

  .noUi-handle,
  .noUi-handle-upper {
    background-color: $text-color;
  }
}
