// wizard component - displays various steps until completing

body {
  counter-reset: wizard;
}

.wizard {
  .wizard-header {
    position: relative;

    ul li:first-child::before {
      width: 0;
    }
    ul li:last-child::after {
      width: 100%;
    }

    ul li::before {
      width: 50%;
      left: -50%;
    }

    ul li::after, ul li::before {
      content: '';
      display: block;
      background: gray;
      height: 1px;
      position: absolute;
      top: 25px;
    }

    ul li::after {
      width: 100%;
      left: 0%;
      margin-left: 15px;
    }

    li {
      width: 18%;
      display: inline-block;
      padding-right: 20px;
      text-align: left;
      position: relative;

      a {
        background: gray;
        border-radius: 20px;
        color: gray;
        padding: 3px 9px 10px 8px;
        font-size: 2px;
        z-index: 100;

      }
      p {
        color: gray;
      }
      &.active {
        a {
          color: white;
          background: white;
        }
        p {
          color: white;
        }

      }
      /*&.completed a {
        color: green;
      }
       &.disabled a {
        color: black;
      }*/

    }
  }
  .wizard-panel {
    display: none;
    position: relative;


        &.current {
      display: block !important;
    }

    ul.wizard-countries li {
      display: inline-block;
      margin-right: 20px;
      padding: 3px 10px;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0);

      &:hover{
        border: 1px solid white;
      }

      &.selected {
        border: 1px solid gray;
      }
    }
  }

  .size-type {
    .dropdown-content {
      background: none;
    }
  }
}

.query-builder-old {
  display: none !important;
}

