{{!-- Sidebar will stay in the main outlet, everything
  else will stay in sidebar's outlet --}}


<div id="network-container">
  <h5>Visualisation here</h5>
  {{liquid-outlet id="details-container"}}
</div>
