{{!-- Sidebar will stay in the main outlet, everything
  else will stay in sidebar's outlet --}}
{{liquid-outlet class="network-row"}}

<div id="visjs-container">
  <h5>Visualisation here</h5>
</div>

