{{!-- Sidebar will stay in the main outlet, everything
  else will stay in sidebar's outlet --}}

<div id="sidebar-toggle" {{action "openSidebar"}}>
  <div id="sidebar-toggle-border"></div>
  <i class="fa fa-arrow-circle-right"></i>
</div>

<div id="network-container">

  <div id="visjs-network"></div>

  {{outlet id="details-container"}}
</div>

{{!
<script type="text/javascript">
</script>
}}
