<div id="mygraphs">
    <div class="jumbotron">
        <div class="container" id="mygraphs">
            <h1>Welcome, <small>Sarah Connor</small></h1>
            <p>You have <strong>16 graphs</strong>, <strong>7 potatoes</strong> and <strong>4 hemorhoids</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3">
              {{#link-to "graph.new" class="card button"}}
                <div class="card-icon">
                  {{fa-icon "plus"}}
                </div>
                <div class="card-block">
                    <h4 class="card-title">New graph</h4>
                </div>
              {{/link-to}}
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="card">
                    <img class="card-img-top" src="images/sample-graph.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title"> {{#link-to "graph.show" 1}} Graph #1 {{/link-to}} </h4>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a class="btn btn-small">{{fa-icon "trash-o"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
