<div class="container tight">
    <div class="tab-content">
        <!-- step1: user selects data to use, system loads them after clicking "Next" button -->
        <div class="tab-pane active" id="datafilter-step1">
            <div class="text-center">
                <h1>Select data</h1>
                <p class="lead">Choose a database to work with.</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item radio">
                    <label>
                        <input id="radio1" name="dataset" type="radio">
                        <strong><i class="fa fa-globe"></i> TED</strong><br>
                        <small>European library of public procurement contracts.</small>
                    </label>

                </li>
                <li class="list-group-item radio">
                    <label>
                        <input id="radio2" name="dataset" type="radio">
                        <strong><i class="fa fa-user"></i> MyDB1</strong><br>
                        <small>User private library</small>
                    </label>
                </li>
                <li class="list-group-item disabled">
                    <strong><i class="fa fa-upload"></i> Upload...</strong><br>
                    <small>Comming soon</small>
                </li>
            </ul>
            <br>
            <a href="#datafilter-step2" data-toggle="tab" class="btn btn-primary pull-right">Next</a>
        </div>
        <!--
            step 2: user sets a query on selected DB to visualise
        -->
        <div class="tab-pane" id="datafilter-step2">
            <div class="text-center">
                <h1>Data Query</h1>
                <p class="lead">Set the criteria to visualize.</p>
            </div>
            <div class="row">
                <fieldset class="form-group col-lg-6">
                    <label for="country">Country</label>

                    <select class="c-select form-control" id="country"><!-- TODO: use select2 with flags; ISSUE: no BS4 support -->
                        <option>Slovakia</option>
                        <option>Romania</option>
                        <option>Netherlands</option>
                        <option>Poland</option>
                    </select>
                </fieldset>
                <fieldset class="form-group col-lg-6">
                    <label for="year">Year <a data-toggle="tooltip" data-placement="top" title="some tooltip hint!" href="#"><i class="fa fa-question-circle"></i></a></label>
                    <select class="c-select form-control" id="year"><!-- TODO: use range slider; ISSUE: no BS4 support -->
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                    </select>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <!-- TODO: proper experience with browsing a large list of CPV codes.
                  select with search. hint: http://www.bipsolutions.com/cpvtool/bip-cpv-search-tool.html -->
                <select style="width:100%;" class="select2" name="CPV" placeholder="select industry field(s)" multiple>
                    <option>03000000 : Agricultural, farming, fishing, forestry and related products</option>
                    <option>09000000 : Petroleum products, fuel, electricity and other sources of energy</option>
                    <option>14000000 : Mining, basic metals and related products</option>
                    <option>15000000 : Food, beverages, tobacco and related products</option>
                    <option>16000000 : Agricultural machinery</option>
                    <option>18000000 : Clothing, footwear, luggage articles and accessories</option>
                    <option>19000000 : Leather and textile fabrics, plastic and rubber materials</option>
                    <option>22000000 : Printed matter and related products</option>
                </select>
            </fieldset>
            <!-- we should have a limit for number of nodes for visualisation, it might get too slow for high numbers -->
            <p class="text-center"><small>Your criteria will output <strong>567 results</strong> for visualisation</small>.</p>
            <br>
            <a href="#datafilter-step1" data-toggle="tab" class="btn btn-default pull-left">Back</a>
            <a href="#datafilter-step2" data-toggle="tab" class="btn btn-primary pull-right">Visualize</a>
        </div>
    </div>
</div>
<!-- TODO: HTML for loading animation/screen between steps -->

