<div class="h50"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <form {{action "graph.new"}} method="post">
        <input type="submit" class="waves-effect waves-light btn right" value="Proceed">
      </form>
    </div>
  </div>
</div>
