// TOOLTIP
div.vis-network  div.vis-tooltip {
  opacity: 0;
  padding: 3px;
  font-family: "Roboto" !important;
  font-size: 14px;
  color: orangered !important;
  background-color: transparent !important;
  border-radius: 3px;
  border: 0px solid #808074 !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;

}

// CONFIGURATIONS CONTROLS
div.elvis-network div.vis-configuration-wrapper {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;

  div.vis-configuration.vis-config-item {
    left: 10px ;
    background-color: #131b29 !important;
    padding-left: 5px;
    border-radius: 3px;
  }
}

// BUTTON NAVIGATION
// -----------------------
div.vis-network div.vis-navigation {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 1.2*$button-height;
  height: 100%;

  // button
  .vis-button {
    display: inline-block;
    position: static !important;
    text-align: center;
    line-height: $button-height;
    box-sizing: content-box;

    // basic style for transparent button
    @include button-transparent($text-color);

    background-image: none !important;
    bottom: auto;
    right: auto;
    margin-bottom: 5px;

    background-position: 2px 2px;
    background-repeat: no-repeat;

    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      box-shadow: none !important;
    }

    // use font awesome icons inside these buttons
    &:before {
      font-family: FontAwesome;
    }

    // these are useless, lets hide 'em
    &.vis-up,
    &.vis-down,
    &.vis-right,
    &.vis-left {
      display: none !important;
    }

    &.vis-zoomIn {
      &:before {
        content: "\f067" !important;
      }

    }
    &.vis-zoomIn:hover {
      &:after {
        content: "Zoom-in" !important;
        position: absolute;
        top: 2px;
        left: -110px;
        color: white;
        width: 100px;
        z-index: 100039;
        font-size: 0.7rem;
        height: 20px;
        display: block;
        text-align: right;
        font-weight: bold;
      }
    }

    &.vis-zoomOut {
      &:before {
        content: "\f068" !important;
      }
    }

    &.vis-zoomOut:hover {
      &:after {
        content: "Zoom-out" !important;
        position: absolute;
        top: 43px;
        left: -110px;
        color: white;
        width: 100px;
        z-index: 100039;
        font-size: 0.7rem;
        height: 20px;
        display: block;
        text-align: right;
        font-weight: bold;
      }
    }

    &.vis-zoomExtends {
     // border-color: transparent !important;

      &:before {
        content: "\f0b2";
      }
    }

    &.vis-zoomExtends:hover {
      &:after {
        content: "Center network" !important;
        position: absolute;
        top: 84px;
        left: -110px;
        color: white;
        width: 100px;
        z-index: 100039;
        font-size: 0.7rem;
        height: 20px;
        display: block;
        text-align: right;
        font-weight: bold;
      }
    }

  }

}
