<div class="container static">
  <div class="about">
    <div class="row page-text el-title">
		<div class="col s12 center-align fs6 page-title">About</div>
    <div class="col s12 dark-text fs5 page-content">
		El.vis visualizes public spending as interactive network graphs. What to make of that?
    <ul>
    <li>read the <a href="/faq">FAQ</a></li>
    <li>see some <a href="/gallery">examples</a></li>
    <li>more questions? Don't hesitate to <a href="/contact">contact us!</a></li></ul>
	
    <h2>The El.vis team</h2>
    <ul><li><a href="https://www.linkedin.com/in/ahomolova">Adriana Homolova</a> : project leader</li></ul>
    <h3>Develompent</h3>
    <ul><li><a href="https://www.linkedin.com/in/vnitu/">Victor Nițu</a> : development leader & front end</li>
    <li><a href="https://www.linkedin.com/in/georgianabere/">Georgiana Bere</a> : back end</li>
    <li><a href="https://www.linkedin.com/in/ioanac/">Ioana Cristea</a> : front end</li></ul>
    <h3>Design</h3>
    <ul><li><a href="https://www.linkedin.com/in/matejchudada/">Matej Chudada</a> : web & UX design</li></ul>

    <h2>Our partners</h2>
      <img alt="investico" src="/about/investico.png"/>
      <img alt="digiwhist" src="/about/digiwhist.png"/>

    <h2>With a big thanks to our sponsors</h2>
      <img alt="Stichting Democratie & Media" src="/about/democracy3.png"/>
      <img alt="Stimuleringsfonds" src="/about/creative2.jpg"/>
      <img alt="Aanbestedingskalender" src="/about/aanb4.png"/>
      <img alt="Digital News Initiative" src="/about/dni.png"/>
      
		</div>
      </div>
    </div>
  </div>
</div>
