<div class="container static">
	<h1>About</h1>
    <p>El.vis visualizes public spending as interactive network graphs. What to make of that?</p>
    <ol>
    <li>read the <a href="/faq">FAQ</a></li>
    <li>see some <a href="/gallery">examples</a></li>
    <li>more questions? Don't hesitate to <a href="/contact">contact us!</a></li></ol>

    <h2>The El.vis team</h2>
    <ol><li><a href="https://www.linkedin.com/in/ahomolova">Adriana Homolova</a> : project leader</li></ol>
    <h3>Develompent</h3>
    <ol><li><a href="https://www.linkedin.com/in/vnitu/">Victor Nițu</a> : development leader & front end</li>
    <li><a href="https://www.linkedin.com/in/georgianabere/">Georgiana Bere</a> : back end</li>
    <li><a href="https://www.linkedin.com/in/ioanac/">Ioana Cristea</a> : front end</li></ol>
    <h3>Design</h3>
    <ol><li><a href="https://www.linkedin.com/in/matejchudada/">Matej Chudada</a> : web & UX design</li></ol>

    <h2>Our partners</h2>
      <img alt="investico" src="/about/investico.png"/>
      <img alt="digiwhist" src="/about/digiwhist.png"/>

    <h2>With a big thanks to our sponsors</h2>
      <img alt="Stichting Democratie & Media" src="/about/democracy3.png"/>
      <img alt="Stimuleringsfonds" src="/about/creative2.jpg"/>
      <img alt="Aanbestedingskalender" src="/about/aanb4.png"/>
      <img alt="Digital News Initiative" src="/about/dni.png"/>
</div>
