<div class="container static">
  <div class="about">
    <div class="row page-text el-title">
		<div class="col s12 center-align fs6 page-title">About</div>
	</div>
    <div class="col s12 dark-text fs5 page-content">
		El.vis visualizes public spending as interactive network graphs. What to make of that?
    <ul>
    <li>read the <a href="/faq">FAQ</a></li>
    <li>see some <a href="/gallery">examples</a></li>
    <li>more questions? Don't hesitate to <a href="/contact">contact us!</a></li></ul>

    <h2>The El.vis team</h2>
    <ul><li><a href="https://www.linkedin.com/in/ahomolova">Adriana Homolova</a> : project leader</li></ul>
    <h3>Development</h3>
    <ul><li><a href="https://www.linkedin.com/in/vnitu/">Victor Nițu</a> : development leader & front end</li>
    <li><a href="https://www.linkedin.com/in/georgianabere/">Georgiana Bere</a> : back end</li>
    <li><a href="https://www.linkedin.com/in/ioanac/">Ioana Cristea</a> : front end</li></ul>
    <h3>Design</h3>
    <ul><li><a href="https://www.linkedin.com/in/matejchudada/">Matej Chudada</a> : web & UX design</li></ul>
    <div class="row sponsors">
      <h3>Partners</h3>
      <div class="col s12">
        <div class="row container-sponsors">
          <div class="col s2">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/investico.png"/>
            </div>
          </div>
          <div class="col s2 center-align">
            <div class="valign-wrapper">
              <img alt="Digiwhist" src="/about/digiwhist.png"/>
            </div>
          </div>
        </div>
			</div>
    </div>
    <div class="row sponsors">
      <div class="col s12">
      <h3>Sponsors</h3>
        <div class="row container-sponsors">
          <div class="col s2 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/creative2.jpg"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/democracy3.png"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/aanb4.png"/>
            </div>
          </div>
          <div class="col s2 center-align">
            <div class="valign-wrapper">
              <img alt="Digital News Initiative" class="valign investor" src="/about/dni.png"/>
            </div>
          </div>
        </div>
      </div>
		</div>
  </div>
</div>
</div>
