<div class="container static">
  <div class="about">
    <div class="row page-text el-title">
        <div class="col s12 center-align fs6 page-title">
          About
        </div>
        <div class="col s12 dark-text fs5 page-content">
          El.vis is your friendly guide through the world of public spending. Who gets the most money? Who gets the most contracts? Who has been a business partner of your government for a long time?
          We have developed el.vis for journalists that are curious about where public money is spent. Through network visualizations of spending, journalists can discover patterns in the contract of their country. We currently have data on Netherlands, The UK and Slovakia. More are coming!
          El.vis is free. Create an account and start exploring!
          For questions please contact us at adriana [at] homolova [dot] .sk
        </div>
    </div>
    <div class="row sponsors">
      <div class="col s12">
        <div class="row container-sponsors">
          <div class="col s3">
            <div class="valign-wrapper">
                <img alt="investico" class="valign investor" src="/about/investico.png"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/creative2.jpg"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/democracy3.png"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/aanb4.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>