<div id="page-about" class="page">
  <div class="container">
    <br><br>
    <h1>El.vis visualizes public spending as interactive network graphs. </h1>
    <p class="flow-text">
      We are an international multidisciplinary team of young professionals concerned about how public money is being spent by our governments.
    </p>
    <p>
      As journalists are the watchdogs of democracy and media are in the center of public discussion, we believe great things can be achieved if journalists have the tools and knowledge to pose questions to data on public spending.
    </p>
    <p>
      Our mission is also to raise awareness about problems inherent to public spending and assist journalists in opening up data in their countries.
    </p>
    <p>
      Elvis (map me tender) is a tool that offers a visual overview of the biggest public tenders in the EU.
    </p>
    <ul>
      <!--li>read the <a href="/faq">FAQ</a></li>
      <li>see some <a href="/gallery">examples</a></li-->
      <li></li>
    </ul>
    <br><br>
  </div>
  <div class="container">

    <section class="team">
      <h3>Elvis team</h3>
      <div class="row">
        <div class="col m4">
          <div class="card team-member">
            <div class="card-content">
              <h4>Adriana Homolova</h4>
              <h6>project leader</h6>
              <a href="https://www.linkedin.com/in/ahomolova"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card">
            <div class="card-content">
              <h4>Victor Nițu</h4>
              <h6>system administrator &amp; frontend developer</h6>
              <a href="https://www.linkedin.com/in/vnitu/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card">
            <div class="card-content">
              <h4>Georgiana Bere</h4>
              <h6>backend developer</h6>
              <a href="https://www.linkedin.com/in/georgianabere/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card">
            <div class="card-content">
              <h4>Ioana Cristea</h4>
              <h6>frontend developer</h6>
              <a href="https://www.linkedin.com/in/ioanac/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card">
            <div class="card-content">
              <h4>Matej Chudada</h4>
              <h6>designer &amp; frontend developer</h6>
              <a href="https://www.linkedin.com/in/matejchudada/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="partners container">

      <h3>Partners</h3>
      <div class="row">
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="https://www.platform-investico.nl/"><img alt="Investico" src="/images/partners/investico.png"/></a>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="http://digiwhist.eu/"><img alt="Digiwhist" src="/images/partners/digiwhist.png"/></a>
            </div>
          </div>
        </div>
      </div>

      <h3>Sponsors</h3>
      <div class="row">
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="https://stimuleringsfonds.nl/en/"><img alt="Creative Industries fund" src="/images/partners/creative2.png"/></a>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="https://www.stdem.org/en/"><img alt="The Democracy and Media Foundation" src="/images/partners/democracy3.png"/></a>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="https://aanbestedingskalender.nl/"><img alt="Aanbestendigns Kalender" src="/images/partners/aanb4.png"/></a>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card white">
            <div class="card-content">
              <a href="https://digitalnewsinitiative.com/"><img alt="DIGITAL NEWS INITIATIVE" src="/images/partners/dni.png"/></a>
            </div>
          </div>
        </div>
      </div>
  </section>

</div> <!-- .page -->
