<div class="container static">
  <div class="about">
  <div class="row page-text el-title">
		<div class="col s12 center-align fs6 page-title">Contact</div>
	</div>
	<div class="col s12 dark-text fs5 page-content">
	There are multiple ways how to reach us.
	<ul><li>create a thread and ping us on <a href="https://talk.tenders.exposed">our forum</a> [preferred!] </li>
	<li>aim your technical inquiries to <a href="https://github.com/tenders-exposed/">our github</a></li>
	<li>hit us on Twitter</li>
	<li>for private contact, you can email us on tech@tenders.exposed</li>
	</ul>
	</div>
</div>
</div>
