<html>
  <head>
    <title>Contact</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  </head>
  <body>
  <h1>Contact</h1>
  <p>There are multiple ways how to reach us.</p>
	<ul><li>create a thread and ping us on <a href="https://talk.tenders.exposed">our forum</a> [preferred!] </li>
	<li>aim your technical inquiries to <a href="https://github.com/tenders-exposed/">our github</a></li>
	<li>hit us on Twitter</li>
	<li>for private contact, you can email us on tech@tenders.exposed</li>
	</ul>
  </body>
</html>
