section#legend {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-network-legend;
  background-color: rgba(0, 0, 0, .9);

  .loading-spinner {
    width: 100px;
    z-index: 100;
    margin: 0 auto;
    margin-top: 10em;

    i {
      margin-right: 5px;
    }
  }

  .loading-bar {
    width: 300px;
    z-index: 100;
    margin: 0 auto;
    margin-top: 6em;
    position: absolute;
    left: 38%;

    .message-progress-bar {
      display: none !important;
    }
  }

  .launch-network {
    width: 100%;
    text-align: right;
    position: absolute;
    top: -4em;
    display: none;

    &.loaded-100 {
      display: block;
    }


    .launch-network-text {
      // blinking "Network Loaded!"text
      @keyframes fadeBlink{
        0% {
          opacity:1;
        }
        50% {
          opacity:.3;
        }
        100% {
          opacity: 1;
        }
      }

      font-weight: bold;
      margin-right: 15px;
      animation: fadeBlink ease 3s infinite;
      opacity: 1;
    }

    .launch-network-button {
      margin-right: 5px;
    }

  }


  .carousel {
    width: 690px;
    height: auto;
    margin: 0 auto;
    margin-top: 10em;
    background: #1a1a1c;
    padding: 5px;
    overflow: visible;

    .carousel-body {
      width: 100%;
      height: 320px;
      border-style: inset;
      border: 1px solid rgb(15, 15, 16);
      border-bottom: 1px solid #2f2f31;
      border-radius: 5px;
    }

    .carousel-item {
      width: 100%;
    }
    .carousel-content {
      width: 100%;
      background: darkslateblue;
    }

    .carousel-footer {
      padding: 15px 10px 10px;
      display: flex;
      justify-content: space-between;

      .carousel-control {
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .carousel-close {
        float: right;
        display: none;
      }
    }

  }
}
