//@todo: not sure from where it comes
.drag-target {
  width: 1px !important;
}

.crop-controls {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0px;
  right: 50%;

  .modal-container {
    @include box;
    box-shadow: $modal-box-shadow;
    width: 333px;
    max-width: 90%;
    margin: 0 auto;
    padding: 5px 41px 5px 6px!important;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    small {
      text-transform: uppercase;
      color: $color-dark;
      font-weight: bold;
    }
  }

  .row {
    margin-bottom: 0px !important;
  }
  input[type="text"] {
    height: 1rem;
    width: 50px;
    font-size: 0.8rem;
  }
  .shareUrl {
    display: none;
  }

  #downloadLnk {
    width: 100%;
    display: block;
    height: 1rem;
    border-radius: 3px;
    padding-right: 9px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    font-size: 0.7rem;
    margin-left: -10px;
  }
}

.cropper-crop-box {
  .crop-edit {
    pointer-events: initial !important;
    z-index: 999;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 63px;
    height: 15px;
    background: dodgerblue;
    color: wheat;
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.1rem;
    padding-left: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

div#network-container {
  position: relative;
  height: 100% !important;
  width: 100%;
  display: block;
  flex-direction: row;
  top: 0;

  .crop-fake{
    display: none;
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;

    .go-back-crop {
      position: relative;
      i {
        z-index: 9999;
        position: absolute;
        top:20px;
        left: 20px;
      }

    }

    .cropper-crop-box {
      z-index: 999;
      pointer-events: none;

      .cropper-view-box {
        border: 0px solid white;
        outline: none;
        outline-color: none;
        img {
          display: none;
        }
        &:hover {

        }
      }
      .cropper-point {
        width: 5px;
        height: 5px;
        border-radius: 5px;

      }

      .cropper-line.line-n {
        height: 2px;
        top: -2px
      }
      .cropper-line.line-s {
        height: 2px;
        bottom: -2px;
      }
      .cropper-line.line-e {
        width: 2px;
        right: -2px
      }
      .cropper-line.line-w {
        width: 2px;
        left: -2px;
      }

      .cropper-line, .cropper-point {
        cursor: pointer;
        pointer-events: initial !important;
        opacity: 0.4;

        &:hover, &.hovered {
          opacity: 1;
        }
      }

    }

    .crop-box-fake {
      z-index: 999;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      pointer-events: none;
      border: 1px solid blue;
      background: rgba(255, 255, 259, 0.08);

    }
  }


  #crop-zoom-end {
    position: absolute;
    display: none;
    z-index: 999;

    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: deepskyblue;


  }
  .crop-zoom-ending {
    width: 20px !important;
    height: 20px !important;
    background: none !important;
    border: 2px solid deepskyblue;
    cursor: pointer;
  }
  .crop-zoom-mouseDown {
    width: 18px !important;
    height: 18px !important;
  }


  #network-controls {
    position: absolute;
    right: 1px;
    top: 140px;
    max-width: 1.2*$button-height;
    z-index: 9;

    .vis-button {
      @extend .btn-floating;
      @extend .transparent;
      margin-bottom: 5px;
    }
  }

  #modalNetworkLink {
    position: absolute;
    top: 40%;
    right: 16%;
    width: 40%;
    z-index: 9;
    .modal-container {
      @include box;
      width: 100%;
      .modal-content {
        input {
          @include search-input;
          width: 90% !important;
          margin-left: 9px;
          text-align: center;
        }
      }
    }
  }
  h5 { margin-top: 0; }

  div.network-canvas {
    height: 100%;

    // cropping
    .cropper-bg {
      background-image: none !important;
      // background-color: $main-bg;
    }
  }

  div#visjs-network {
    position: fixed;
    width: 100%;
  }
  #visjs {
    width: 100%;
    height: 100%;
  }

  > .ember-view { height: 100%; }

  div#details-container > * {
    margin: 0; padding: 0;
  }

  div#details-container {
    z-index: $zindex-details-container;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: box;
    box-orient: horizontal;

    div#details-info {
      height: 100%;
      width: 70%;
      float: right;
      display: inline-block;
      pointer-events: none;
      border-left: 1px dashed rgba(100, 100, 100, .1);


      #loader {
        margin: 0 auto;
        top: 50%;
        position: absolute;
        right: 41%;
        .preloader-wrapper {
          height: 64px;
        }
      }
    }
  }
}

.ember-cli-visks-network > .ember-view { display: none; }

div#stabilization-info {

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  color: black;
  text-shadow: 0 0 20px rgba(99, 172, 255, 1);
  div.align-center {
    b {
      padding-top: 25%;
      width: 100%;
      text-align: center;
      position: fixed;
      font-family: Roboto;
      font-size: 2rem;
    }
  }
}
