//@todo: not sure from where it comes
.drag-target {
  width: 1px !important;
}

div#network-container {
  position: relative;
  height: 100% !important;
  width: 100%;
  display: block;
  flex-direction: row;
  top: 0;

  h5 { margin-top: 0; }

  div.network-canvas { height: 100%; }

  div#visjs-network {
    position: fixed;
    width: 100%;
  }
  #visjs {
    width: 100%;
    height: 100%;
  }

  .ember-view { height: 100%; }

  div#details-container > * {
    margin: 0; padding: 0;
  }

  div#details-container {
    z-index: 100;
    position: absolute;
    pointer-events: none;
    height: 100%;
    display: flex;
  }
}

/* ember-cli-materialize hacks */
.ember-modal-overlay {
  opacity: 1 !important;
}

.modal {
  top: 80px !important;
  &, & .modal-footer {
    box-shadow: none;
    color: #eee;
    background-color: #1A1A1C;
    width: 100%;
  }
}

.ember-cli-visks-network > .ember-view { display: none; }

div#stabilization-info {
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  color: black;
  text-shadow: 0 0 20px rgba(99, 172, 255, 1);
  div.align-center {
    b {
      padding-top: 25%;
      width: 100%;
      text-align: center;
      position: fixed;
      font-family: Roboto;
      font-size: 2rem;
    }
  }
}
