<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="col s3 offset-s2 center-align">
          <a href="https://github.com/tenders-exposed/elvis-ember">
            GitHub</a>
        </div>
        <div class="col s3 offset-s2 center-align">
          <a href="https://github.com/tenders-exposed/elvis-ember/blob/develop/LICENSE">
            License</a>
        </div>
      </div>
    </div>
  </div>
</div>




