<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="col s3 center-align">{{#link-to 'application'}}GitHub URL{{/link-to}}</div>
        <div class="col s3 center-align">{{#link-to 'application'}}License{{/link-to}}</div>
        <div class="col s3 center-align">{{#link-to 'application'}}Terms of use{{/link-to}}</div>
        <div class="col s3 center-align">{{#link-to 'application'}}Privacy policy{{/link-to}}</div>
      </div>
    </div>
  </div>
</div>




