<div id="main-navbar" class="navbar-fixed">
  <nav class="mainbg main-nav lighten-4">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s1">&nbsp;</div>
        <div class="col s1" style="height: 80px;">
          {{#link-to 'application'}}
            <img alt="Logo" class="logo" src="/elvis-logo-light.png"/>
          {{/link-to}}
        </div>
        <div class="col s3">
          <ul id="external-links">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Community</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col s6 right-align">
              <ul id="elvis-links" class="right">
                {{#link-to 'network.query' tagName='li'}}
                  {{#link-to 'network.query'}}
                    <!--                   <div class="link-icon new-graph-icon"></div> -->
                    New visualisation
                  {{/link-to}}
                {{/link-to}}
                {{#if session.isAuthenticated}}
                  {{#link-to 'projects' tagName='li'}}
                    {{#link-to 'projects'}}
                      <!--                   <div class="link-icon my-projects-icon"></div> -->
                      My projects
                    {{/link-to}}
                  {{/link-to}}
                  {{#link-to 'account.settings' tagName='li'}}
                    {{#link-to 'account.settings'}}
                      <!--                   <div class="link-icon account-settings-icon"></div> -->
                      Account settings
                    {{/link-to}}
                  {{/link-to}}
                  <li><a {{action 'invalidateSession'}}>Log out<i class="fa fa-power-off"></i></a></li>
                {{else}}
                {{/if}}
              </ul>
        </div>
        <div class="col s1">&nbsp;</div>
      </div>
    </div>
  </nav>
</div>
