<div id="footer-welcome">
  {{partial 'partials/links-footer'}}
  <div class="full-width section-sponsors">
    <div class="container">
      <div class="row">
          <div class="col s2">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/investico.png"/>
            </div>
          </div>
          <div class="col s2 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/creative2.jpg"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/democracy3.png"/>
            </div>
          </div>
          <div class="col s3 center-align">
            <div class="valign-wrapper">
              <img alt="investico" class="valign investor" src="/about/aanb4.png"/>
            </div>
          </div>
        <div class="col s2 center-align">
          <div class="valign-wrapper">
            <img alt="investico" class="valign investor" src="/about/digi.png"/>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
