<div class="detailview details-info-wrapper">
  <div class="close-error">
    <a href="javascript:history.back()">
      {{fa-icon 'times-circle'}}
    </a>
  </div>
  {{elvis-loader  message="Loading.."}}
</div>