div#details-sidebar {
  @include bg-dark;
  display: inline-block;
  z-index: 9;
  pointer-events: all;
  width: 30%;
  min-width: 300px;
  min-height: 400px;
  height: 100%;
  top: 0;
  clear: both;

  .details {
    margin-top: 40px;
    margin-left: 10px;
    i { cursor: pointer; }
  }

  /*arrow close sidebar*/
  .closeDetails {
    right: -7px;
    top: 37px;
  }

  /*change network name*/
  div.network-input {
    margin-bottom: 0px;
    margin-top: 20px;
    input { height:  35px !important; margin-bottom: 0px; }
    .controls { line-height: 44px; }
  }

  /*tab navigations buttons*/
  div.tabs__nav {
    line-height: 2.5rem;
    border-bottom: 1px solid #484848;
    margin-bottom: 10px;
    margin-top: 30px;

    .tab-button--active,
    .tabs-button--active2 {
      a {
        border-bottom: 2px solid whitesmoke;
      }
    }

    div.tab-button {
      display: inline-block;
      font-weight: bold;
      position: relative;
      width: 33%;
      cursor: pointer;
      text-align: left;
      padding-top: 10px;

      &:first-child { padding-left: 12px; }
      &:hover a { border-bottom: 2px solid dimgrey; }
      a {
        position: relative;
        @include label;
        color: $color-text-main;
        font-size: $fs1;
        padding-bottom: 10px;
        span {
          font-size: $fs2;
        }
      }

      .circle {
        right: 42%;
        top: -33px;
        &.supplier { color: $color-supplier; }
        &.procurer { color: $color-procurer; }
        &.relationship { color: $color-relationship; }
        &.rel1 { right: 30%; }
        &.rel2 { right: 60%; }

        &.relationship-line {
          width: 30%;
          right: 37%;
          top: -24px;
          hr {
            width: 100%;
            color: #868686;
            border: {width: 2px; style:solid; }
          }
        }
      }
    }
  }

  /*tabs*/
  .tab-panel {
    width: 100%;
    margin-top: 20px;

    .ag-body-container {
      width: 100%;
    }
    .ag-cell, .ag-body-viewport {
      background: $main-bg;
    }
    .searchIcon {
      top: 4px;
      right: 4px;
      cursor: pointer;
    }
    .search-input {
      @include search-input;
      width: 92% !important;
      opacity: 0.5;
      &:focus { opacity: 0.8;}
    }
    #loader {
      margin-top: 60px;
      .preloader-wrapper.ember-view {
        height: 48px;
        width: 48px;
      }
    }
    /*tabs - tables: elvis-data-table.scss*/
  }
}

div#sidebar-toggle {
  z-index: 100;
  position: absolute;
  min-height: 500px;
  height: 90%;
  div#sidebar-toggle-border {
    display: block;
    height: 100%;
    width: .2em;
    background: #888;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    &:hover {
      cursor: pointer;
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }
  }
  i {
    position: absolute;
    color: #888;
    top: 20%;
    left: .15em;
    opacity: 0.9;
    &:hover {
      cursor: pointer;
      color: $color-text-main;
    }
  }
}