// Network details
// -------------------------

// TODO: consider less missleading naming: #network-sidebar, #network-infowindow

.loading-network {
  height: 5rem !important;
  opacity: 0.6;
  #details-sidebar .table-sidebar { display: none; }
  .details-info-wrapper * {
    height: 0px !important;
  }

}

// network sidebar
#details-sidebar {

  .sidebar-header {
    padding: 0.5*$network-sidebar-padding $network-sidebar-padding;
  }

  .sidenav-toggle {
    color: $text-color;
    float: left;
  }

  .network-title {
    font-size: $h4-fontsize;
    font-weight: normal;
  }

  .networks-settings {
    display: none;
  }

  .network-title-settings-toggle {
    margin-left: 1em;
    color: $text-color;
    opacity: .4;
    &:hover {
      opacity: .8;
    }
  }

  //tab navigations buttons
  // TODO: correct naming of these css classes. we need consistency all over the system: use only dashes
  .tabs__nav {
    display: flex;
    align-items: flex-start;
    padding: 0 .5*$network-sidebar-padding 1em;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    // single tab
    .tab-button {
      display: inline-block;
      //flex-grow: 1;
      padding: 0 0.5*$network-sidebar-padding 0 1.1*$network-sidebar-padding;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: .83em;
      letter-spacing: .05em;
      cursor: pointer;



      // tab icon
      .tab-icon {
        display: inline-block;
      }

      // tab label text
      a {
        margin-top: .5em;
        display: inline-block;
        color: $text-muted-color;
        padding-bottom: 1em;
        position: relative;
        bottom: -2px;
        cursor: pointer;
      }

      // active and hovered tab
      &.tab-button--active a,
      &.tabs-button--active2 a,
      &:hover a {
        color: $text-color;
      }
    }
  }

  // sidebar toggle button
  .sidebar-toggle {

  }

  //tabs
  .tab-panel {
    width: 100%;
    height: 100%;

    .input-field {
      margin-top: .5em;
    }

    .ember-select-guru {
      margin-bottom: 0rem !important;
    }

    .sortby .ember-select-guru__dropdown {
      .ember-select-guru__search-wrapper:before,
      .ember-select-guru__search {
        display: none !important;
      }
    }


    .ag-body-container {
      width: 100%;
    }
    .ag-cell, .ag-body-viewport {
      background: $main-bg;
    }

    #loader {
      margin-top: 60px;
      .preloader-wrapper.ember-view {
        height: 48px;
        width: 48px;
      }
    }
    //tabs - tables: elvis-data-table.scss
  }
}


// network settings open
#details-sidebar.network-settings-open {
  > *:not(.network-settings) { // hide everything except of .network settings
    display: none;
  }
  .network-settings {
    display: block;
    height: 100%;
    padding: $network-sidebar-padding;
  }
  .network-settings-save {
    @extend .btn-floating;
    @include button-circle(1.78rem);
    @include button-color($text-color);
    float: right;
    margin-top: .4em;
  }
  .network-settings-privacy {
    .switch { margin: 0 auto; }
  }

}

#sidebar-toggle {

}
// default toggle state
body.network-show-details #sidebar-toggle {
  display: none;
}

