// Network details
// -------------------------

// TODO: consider less missleading naming: #network-sidebar, #network-infowindow

.loading-network {
  height: 5rem !important;
  opacity: 0.6;
  #details-sidebar .table-sidebar { display: none; }
  .details-info-wrapper * {
    height: 0px !important;
  }

}

#details-info {
  max-width: 700px;
  position: absolute;
  left: $network-sidebar-width;
  height: 100vh;
  width: 100vw-$network-sidebar-width;

  .contract-info-wrapper,
  .details-info-wrapper {
    position: relative;
    pointer-events: all;
    width: 100%;
    height: 100%;
    right: 0px;
    height: 100%;
  }
}

// network sidebar
#details-sidebar {
  display: inline-block;
  z-index: $zindex-network-sidebar;
  pointer-events: all;
  width: $network-sidebar-width;
  min-width: 300px;
  min-height: 400px;
  position: absolute;
  height: 100%;
  top: 0;
  clear: both;
  border-right: $network-sidebar-border;
  background: $network-sidebar-bg;
  backdrop-filter: blur(10px);
  box-shadow: 5px 0px 15px -2px rgba(0,0,0,0.8);

  font-family: $font-family-sans;

  // button to show/hide the navbar
  .navbar-toggle {
    display: inline-block;
    position: relative;
    top: .3em;
    height: 2em;
    cursor: pointer;
  }

  .sidebar-header {
    padding: 0.5*$network-sidebar-padding $network-sidebar-padding;
  }

  .sidenav-toggle {
    color: $text-color;
    float: left;
  }

  .network-title {
    font-size: $h4-fontsize;
    font-weight: normal;
  }

  .networks-settings {
    display: none;
  }

  .network-title-settings-toggle {
    margin-left: 1em;
    color: $text-color;
    opacity: .4;
    &:hover {
      opacity: .8;
    }
  }

  //tab navigations buttons
  // TODO: correct naming of these css classes. we need consistency all over the system: use only dashes
  .tabs__nav {
    border-bottom: 1px solid #484848;
    display: flex;
    align-items: flex-start;
    padding: 0 0.5*$network-sidebar-padding;
    width: 100%;

    // single tab
    .tab-button {
      display: inline-block;
      flex-grow: 1;
      padding: 0 0.5*$network-sidebar-padding;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: .83em;
      letter-spacing: .05em;
      cursor: pointer;

      // tab icon
      .tab-icon {
        display: block;
        margin: 1em auto;
      }

      // tab label text
      a {
        display: inline-block;
        color: $text-muted-color;
        padding-bottom: 1em;
        position: relative;
        bottom: -2px;
        cursor: pointer;
      }

      // active and hovered tab
      &.tab-button--active a,
      &.tabs-button--active2 a,
      &:hover a {
        border-bottom: 2px solid whitesmoke;
        color: $text-color;
      }
    }
  }

  // sidebar toggle button (circle arrow)
  .sidebar-toggle {
    height: 0px;
    overflow: visible;
    float: right;
    position: relative;
    right: -7px;
    top: -11px;
    z-index: $zindex-network-sidebar-toggle;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  }

  //tabs
  .tab-panel {
    width: 100%;
    height: 100%;

    .ember-select-guru {
      margin-bottom: 0rem !important;
    }

    .sortby .ember-select-guru__dropdown {
      .ember-select-guru__search-wrapper:before,
      .ember-select-guru__search {
        display: none !important;
      }
    }


    .ag-body-container {
      width: 100%;
    }
    .ag-cell, .ag-body-viewport {
      background: $main-bg;
    }

    #loader {
      margin-top: 60px;
      .preloader-wrapper.ember-view {
        height: 48px;
        width: 48px;
      }
    }
    //tabs - tables: elvis-data-table.scss
  }
}


// network settings open
#details-sidebar.network-settings-open {
  > *:not(.network-settings) { // hide everything except of .network settings
    display: none;
  }
  .network-settings {
    display: block;
    height: 100%;
    padding: $network-sidebar-padding;
  }
  .network-settings-save {
    @extend .btn-floating;
    @include button-circle(1.78rem);
    @include button-color($text-color);
    float: right;
    margin-top: .4em;
  }
  .network-settings-privacy {
    .switch { margin: 0 auto; }
  }

}

#sidebar-toggle {
  z-index: $zindex-network-sidebar-toggle;
  position: absolute;
  left: -1em;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2em;
  border-right: $network-sidebar-border;
  background: $network-sidebar-bg;
  text-align: center;
  opacity: .6;
  transition: all .3s ease;

  .fa {
    color: $text-muted-color;
    position: absolute;
    top: 2*$navbar-height;
    left: calc(100% - .5em);
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
    left: 0;
  }
}
// default toggle state
body.network-show-details #sidebar-toggle {
  display: none;
}

