{{partial 'partials/main-nav'}}
<div class="h50">
</div>

<div class="container">
  <div class="row">
    <div class="col s12 valign-wrapper">
      <img class="materialboxed radius left" width="100" src="/default_avatar.jpg" alt="" />
      <h3 style="padding-left: 15px;">Welcome, Sarah Connor!</h3>
      {{!-- <div class="chip">
        <img src="/default_avatar.jpg" alt="Sarah Connor">
        Welcome, Sarah Connor!
      </div> --}}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{outlet}}
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
     $('.materialboxed').materialbox();
  });
</script>
