{{!-- <div class="collapse" id="navbar-header">
    <div class="bg-inverse p-a">
        <h3>Collapsed content</h3>
        <p>Toggleable via the navbar brand.</p>
    </div>
</div> --}}

{{#md-navbar name='el.vis' class='indigo'}}
  {{#link-to 'account' tagName='li'}}
    {{link-to 'Account' 'account' }}
  {{/link-to}}
{{/md-navbar}}

{{outlet}}



<div class="c-notifications__container">
    {{#each notifications as |notification|}}
        {{notification-message notification=notification}}
    {{/each}}
</div>


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
