<div class="page">
    <div class="container">
        <header>
            <h1>Contact</h1>
        </header>
        <div class="row">
            <div class="col m4 s12">

                <h4>General questions</h4>
                <p class="small">Visit the forum and join our team in the discusion about public spending and Elvis.</p>
                <br>
                <h5><a href="https://talk.tenders.exposed"><i class="fa fa-group"></i> Discourse community</a></h5>
            </div>
            <div class="col m4 s12">

                <h4>Bugs and Features</h4>
                <p class="small">Elvis is an open-source tool. You are welcome to view the source code, report bugs and suggest new features on GitHub.</p>
                <br>
                <h5><a href="https://github.com/tenders-exposed/"><i class="fa fa-github"></i> GitHub.com/tenders-exposed</a></h5>
            </div>
            <div class="col m4 s12">

                <h4>Direct questions</h4>
                <p class="small">If you have any direct questions, contact us via e-mail.</p>
                <br>
                <h5><a href="mailto:tech@tenders.exposed"><i class="fa fa-envelope"></i> tech@tenders.exposed</a></h5>
            </div>
        </div>
    </div>
</div>