<div class="page">
  <div class="container">
    <div class="hero center">
      <h1>Sorry...</h1>
      <p class="flow-text">
        Error:
        {{#each errors as |error|}}
          {{error.message}} <br>
        {{/each}}
      </p>
    </div>
  </div>
</div>
