<div class="page">
  <div class="container">
      <br><br>
      <h1>Curated networks</h1>
      <p class="flow-text">Some ready-made interesting networks you can play with. </p>
      <div class="project-list">
          <div class="project-item col m4">
              <div class="project-body">
                  <div class="project-name"><a href="https://tenders.exposed/network/5a20194e2dcb5619d800004e">The big four accountants</a></div>
                  <div class="project-desc">Bookkeeping of the Dutch government is done by these 4 companies.</div>
              </div>

              <div class="project-specs">
                  <div class="project-countries">{{world-flag "NL" 32}}</div>
                  <div class="project-years">2006-2015</div>
                  <div class="project-other"><b>Sector:</b> Accounting and auditing services</div>
              </div>
          </div>
      </div>
      <br><br>
  </div>
</div>
