<div id="helloimelvis" class="page">
<h1>Learn more about me</h1>
<h1>Hello, I am Elvis!</h1>
<p>Perhaps not the king of pop, but I love me some tenders. I will help 
you visualize, clean and explore tender data.</p><p>In this particular instance, we are focusing on defence tenders.</p>
<h2>What is Elvis?</h2>
<p>Elvis is visualization tool designed for displaying tender data as networks. In Elvis, you can filter the data, display them in a network visualization and clean the company names by merging the nodes that are the same company.</p>
<h2>Where does the data come from?</h2>
<p>Data in Defence Elvis come from two main 
sources:
<ul>
	<li><i>opentender.eu</i> - the most comprehensive collection of 
tenders around Europe from local and European tender data portals.</li>
<li><i>Manually collected</i> - tenders not present in the 
opentender.eu database, but collected from other online sources such as 
news articles</li></ul></p>

<h2>Table details</h2>
<img src="/images/interface-table.png">
<p>
	<ol>
		<li>Bids awarded - amount of bids (tenders) in the table. Each 
tender has a link to the original data and some detail 
information</li>
<li>All awarded amounts - all the (known) prices of the 
tenders</li>
<li>Awarded amount unknown - sometimes it is not clear how 
much the company got. The amount was either not disclosed at all or not 
present in the sources we found (See also number 9 - Fruit). This is 
the percentage of bids (tenders) that has unknown value.</li>
<li>Avg 
competition - tenders often have information on how many companies 
competed for them. This is the median competition in the tenders this 
company / authority has taken part of (for this particular 
selection)</li>
<li>As sometimes there are a lot of bids to display, the results are paginated. You can change how many results per page you want to see</li>
<li>How many companies competed for the tender. If the competition is 1, it means there was ... well no competition</li>
<li>As manually collected data comes from written text, we sometimes are not completely sure about the year the tender was awarded. Uncertainty is displayed as a small exclamation mark next to the tender</li>
<li>Red flags - some tenders seem are a bit more legit than others. We are displaying 3 types of red flag:</li>
<ul>
	<li>No call for tender published</li>
	<li>Non-open tender procedure - not an open competition, only preselected companies could partake</li>
	<li>Company from a tax haven</li></ul>
	<li>Fruit! - fruit means - unknown, unavailable. Not disclosing the price of a tenders is as ridiculous as having pictures of fruit in tender data.</li></ol></p>

</div>
