{{outlet}}

{{#if session.isAuthenticated}}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>You're authenticated as {{me.data.email}}</h4>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>You're not authenticated.</h4>
      </div>
    </div>
  </div>
{{/if}}
