{{outlet}}
<div id="welcome-page" class="page">
  <div class="container">
    <div class="hero">
      <h1>
        Defence tenders exposed
      </h1>
      <p class="flow-text">
        This visualization tool works with defence procurement data from all 28 EU countries. Data is visualized into a node network graph with possible restrictions to specific countries, years, tender suppliers and government institutions.
      </p>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Create custom network</h4>
          <p>Create procurement network of your own interest by specifying all options</p>
          <ul>
            <li>{{#link-to 'network.new' class="btn primary"}}<i class="fa fa-arrow-right"></i> Start here{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Explore</h4>
          <p>Choose from curated networks.</p>
          <ul>
            <li><a href="https://defence.tenders.exposed/network/66758ae3-b575-4ed4-8db8-c42f3bb462f9/bidders"><i class="fa fa-caret-right"></i>BAE Systems in European procurement</a></li>
            <li><a href="https://defence.tenders.exposed/network/95f566ea-ba68-43cc-bfd7-59c73d5854ec/bidders"><i class="fa fa-caret-right"></i>Lockheed Martin in European procurement</a></li>
            <li><a href="https://defence.tenders.exposed/network/3643749e-662c-49c7-8391-2a4da4e66fab/bidders"><i class="fa fa-caret-right"></i>Croatian military spending</a></li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="box">
          <h4>Learn more</h4>
          <p>Additional information about this project.</p>
          <ul>
            <li><a href="/helloimelvis"><i class="fa fa-caret-right"></i>Get to know Elvis</a></li>
            <li><a href="https://opentender.eu/"><i class="fa fa-caret-right"></i>Data source</a></li>
            <li><a href="https://github.com/tenders-exposed/"><i class="fa fa-caret-right"></i>Under the hood</a></li>
            <li><a href="http://www.govtransparency.eu/"><i class="fa fa-caret-right"></i>About Government Transparency Institute</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
