{{outlet}}
<div id="welcome-page" class="page">
  <div class="container">
    <div class="hero">
      <h1>
        Defence tenders exposed
      </h1>
      <p class="flow-text">
        This visualization tool works with defence procurement data from all 28 EU countries. Data is visualized into a node network graph with possible restrictions to specific countries, years, tender suppliers and government institutions.
      </p>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Create custom network</h4>
          <p>Create procurement network of your own interest by specifying all options</p>
          {{#link-to 'network.new' class="btn primary"}}<i class="fa fa-arrow-right"></i> Start here{{/link-to}}
          <br>
        </div>
      </div>
      <div class="col m6">
        <div class="box">
          <h4>Account</h4>
          <p>Account allows you to save generated networks and merge nodes.</p>
          <ul>
            {{#if session.isAuthenticated}}
              <li>{{#link-to 'account.new' class="btn primary transparent"}}Log in here{{/link-to}}</li>
            {{else}}
              <li>{{#link-to 'account.new' class="btn default transparent"}}Create an account{{/link-to}}</li>
            {{/if}}
          </ul>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Explore</h4>
          <p>Choose from curated networks reflecting interesting cases of procurement.</p>
          <ul>
            <li><a href="#"><i class="fa fa-caret-right"></i>Network 1</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i>Network 2</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i>Network 3</a></li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="box">
          <h4>Learn more</h4>
          <p>Additional information about this project.</p>
          <ul>
            <li><a href="#"><i class="fa fa-caret-right"></i>Quick tutorial</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i>Data source</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i>Under the hood</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i>About Government Transparency Institute</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
