{{outlet}}
<div id="welcome-page" class="page">
  <div class="container">
    <div class="hero">
      <h1>
        Defence tenders exposed
      </h1>
      <p class="flow-text">
        This visualization tool works with defence procurement data from all 28 EU countries. Data is visualized into a node network graph with possible restrictions to specific countries, years, tender suppliers and government institutions.
      </p>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Create custom network</h4>
          <p>Create procurement network of your own interest by specifying all options</p>
          <ul>
            <li>{{#link-to 'network.new' class="btn primary"}}<i class="fa fa-arrow-right"></i> Start here{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="box">
          <h4>Explore</h4>
          <p>Choose from pre-made networks.</p>
          <p>By country:</p>
          <ul>
         <li><a target="_blank" href="https://defence.tenders.exposed/network/ed0a7e32-581b-43a3-9217-c444fc8355b8/bidders"><i class="fa fa-caret-right"></i>Austria defence procurement (2005-2020)</a>: 106 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/11151690-d93b-4b04-971b-fa7c025e31bc/bidders"><i class="fa fa-caret-right"></i>Belgium defence procurement (2006-2020)</a>: 612 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/769fd4d9-9990-4eaa-bfe9-ee24b63786f5/bidders"><i class="fa fa-caret-right"></i>Bulgaria defence procurement (2003-2018)</a>: 53 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/878130b5-368a-40eb-a489-b225805399f5/bidders"><i class="fa fa-caret-right"></i>Croatia defence procurement (2019-2020)</a>: 399 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/7e797739-4af9-47d6-9fa8-c98d8f8d7090/bidders"><i class="fa fa-caret-right"></i>Czech Republic defence procurement (2006-2020)</a>: 1058 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/c954c392-4e3b-4f47-b371-96e7d75fd244/bidders"><i class="fa fa-caret-right"></i>Denmark defence procurement (2001-2020)</a>: 659 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/10464203-9e0a-4eb7-8577-817956cc2d85/bidders"><i class="fa fa-caret-right"></i>Estonia defence procurement (2009-2018)</a>: 14 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/e742b4db-0942-4177-a851-35fc0e25f175/bidders"><i class="fa fa-caret-right"></i>Finland defence procurement (1992-2020)</a>: 504 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/29c9c473-0c46-4ad0-9187-25b738697262/bidders"><i class="fa fa-caret-right"></i>France defence procurement (2006-2017)</a>: 23 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/6bcd3fc2-de7c-4ec2-81a6-efd1c55d5ffb/bidders"><i class="fa fa-caret-right"></i>Germany defence procurement (1998-2020)</a>: 3310 tenders. Slow network, be patient!</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/9c02fe37-1758-4b7d-844a-87b2afff9528/bidders"><i class="fa fa-caret-right"></i>Greece defence procurement (2000-2020)</a>: 111 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/96213de2-e12f-4ef3-8a69-0905044fd9f0/bidders"><i class="fa fa-caret-right"></i>Hungary defence procurement (2006-2020)</a>: 398 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/2e0791b8-a32e-4d9f-9389-0c1f75aae22f/bidders"><i class="fa fa-caret-right"></i>Iceland defence procurement (2007-2020)</a>: 7 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/2d00d9cb-95f2-4f55-9264-23274e10cd97/bidders"><i class="fa fa-caret-right"></i>Ireland defence procurement (2003-2020)</a>: 209 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/7f6e4fbd-88ea-481e-8a98-014d9d95514f/bidders"><i class="fa fa-caret-right"></i>Italy defence procurement (2005-2020)</a>: 80 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/783bc161-c549-42b4-b902-99a387edf7b9/bidders"><i class="fa fa-caret-right"></i>Luxembourg defence procurement (2006-2020)</a>: 15 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/7e94c26d-0a1d-4511-90cb-b3c9e969083b/bidders"><i class="fa fa-caret-right"></i>Netherlands defence procurement (2004-2020)</a>: 434 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/4bcae53c-4682-4778-ad7e-67d011c6eb26/bidders"><i class="fa fa-caret-right"></i>Norway defence procurement (2006-2020)</a>: 667 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/ffc68e46-dca7-4304-8935-90465370ece0/bidders"><i class="fa fa-caret-right"></i>Poland defence procurement (2001-2020)</a>: 105 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/199e49bf-ddb6-4921-930b-ea023b49692d/bidders"><i class="fa fa-caret-right"></i>Portugal defence procurement (2004-2017)</a>: 4 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/ed0d3a65-06f9-4508-9821-79d60d247db3/bidders"><i class="fa fa-caret-right"></i>Romania defence procurement (2007-2020)</a>: 811 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/c8b5be34-305d-4dee-b69a-f72b4b6c8763/bidders"><i class="fa fa-caret-right"></i>Spain defence procurement (2008-2020)</a>: 950 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/9e5c6553-4e2c-4ba8-8933-7974db8a3e11/bidders"><i class="fa fa-caret-right"></i>Sweden defence procurement (2001-2020)</a>: 411 tenders</li>
<li><a target="_blank" href="https://defence.tenders.exposed/network/d13ad21c-f9a2-4313-bf10-d45cebcebf01/bidders"><i class="fa fa-caret-right"></i>United Kingdom defence procurement (1999-2020)</a>: 3988 tenders. Slow network, be patient!</li>



          </ul>
          <p>By company:</p>
          <ul>
            <li><a href="https://defence.tenders.exposed/network/d516b763-7e97-4bee-a4ae-00581cd0b7e2/bidders"><i class="fa fa-caret-right"></i>BAE Systems in European procurement</a></li>
            <li><a href="https://defence.tenders.exposed/network/fda68ed1-3296-413b-9007-db63dddf9865/bidders"><i class="fa fa-caret-right"></i>Lockheed Martin in European procurement</a></li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="box">
          <h4>Learn more</h4>
          <p>Additional information about this project.</p>
          <ul>
            <li><a href="/helloimelvis"><i class="fa fa-caret-right"></i>Get to know Elvis</a></li>
            <li><a href="https://opentender.eu/"><i class="fa fa-caret-right"></i>Data source</a></li>
            <li><a href="https://github.com/tenders-exposed/"><i class="fa fa-caret-right"></i>Under the hood</a></li>
            <li><a href="http://www.govtransparency.eu/"><i class="fa fa-caret-right"></i>About Government Transparency Institute</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
