.actor-select {
  $actor-select-height: 200px;

  // refactor inherited ember-select-guru styles
  .ember-select-guru__trigger {
    padding: 0;
    &:after {
      content: none;
    }
  }
  .ember-select-guru__dropdown {
    background: rgba(0,0,0,0.2);
  }
  .ember-select-guru__option {
    padding: 0;
  }

  // actor select dropdown
  .actor-select-dropdown {
    position: relative;
    border: $input-border;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: $border-radius-base;

    input {
      padding-right: 1em; // make space for search icon
      padding-left: 2em;
      margin-bottom: 0;
      box-sizing: border-box;
      border: none;
    }

    // search icon
    &::before {
      @include fontawesome;
      content: $fa-var-search;
      position: absolute;
      left: 1.5em;
      height: $input-line-height;
      line-height: $input-line-height;
    }

    // select input options
    .actor-select-options {
      display: none; // do not show until dropdown is expanded
      /* position: absolute; */
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 60vh;
      z-index: $zindex-modal;

      .ember-select-guru__option {
        background: fade_out($main-bg,0.05);
        border: 1px solid rgba(255,255,255,0.1);
        border-top: none;


        &:hover,
        &.is-active {
          background: fade_out(lighten($main-bg,20%),0.05);
          color: $text-color;
        }
      }
    }

  }

  // selected items list
  .actor-select-selected {
    margin-top: 5px;

    // count of selected items
    .actor-select-selected-count {
      position: absolute;
      top: -.5em;
      right: 5px;
    }
  }

  //state: expanded dropdown
  &.actor-select__expanded {
    .actor-select-options {
      display: block;
      height: $actor-select-height;
    }
  }
}
