#query-builder {
  padding-bottom: 20px;
  margin-bottom: 100px;

  // year select
  form span.year-label {
    color: rgba(255,255,255,.7);
    position: absolute;
    &.left-year { bottom: 20px; left: -7px; }
    &.right-year { bottom: 20px; right: -7px; }
  }

  // rendering options
  .qb-rendering-edges,
  .qb-rendering-nodes {
    margin-bottom: 1.5em;
  }

  .numberOfWinningBids {
    img.winningBids {display: block;}
    img.moneyExchanged {display: none;}
  }

  .amountOfMoneyExchanged {
    img.winningBids {display: none;}
    img.moneyExchanged {display: block;}
  }

}
